[2016-11-04 20:25] Pilen opened #3 "Forbind frontend med backend"
Hent data ind fra backend istedet for en statisk fil

[2016-11-04 20:26] Pilen opened #4 "FDF skjold"
Indsæt et FDF skjold

[2016-11-04 20:28] Pilen opened #5 "Vis billeder/thumbnails"
Vis korrekte billeder (thumbnails) til alle lege.
Der skal være et default billede til lege der ikke har et billede.

[2016-11-04 20:30] Pilen opened #6 "Lege info i oversigt"
Vis den korrekte lege info i oversigten.

[2016-11-04 20:33] Pilen opened #7 "Søge funktionalitet"
Forbind selve søgefeltet med søgefunktionaliteten.

[2016-11-07 15:28] sorenmalling commented on #3
Scriptet generer en statisk fil som kan læses ind - skal den være dynamisk, kan jeg bare bruge samme script med et http kald

[2016-11-09 19:59] Pilen commented on #3
Og så har vi bare et cron-job der genererer en ny fil ind i mellem?
Det lyder som en fin løsning indtil videre, ihvertfald så længe vores data er mere eller mindre statisk.

Så skal vi bare lige have sat de rigtige stier op.

[2016-11-09 20:55] sorenmalling commented on #3
Præcis.

Jeg tager det med stier og opsætning sammen med Anders på fredag når vi er på Rys og snakker adgang

[2016-11-09 20:56] sorenmalling commented on #6
Den ser udelukkende ud til at fejle pga. en forkert sti til "marked" JS bibliotek og derfor fejler renderingen. Den returnere også 404 når den prøver at loade marked fra bower_components.

[2016-11-11 09:11] sorenmalling opened #8 "Vis kategorier en leg findes i når du ser en leg"

[2016-11-11 09:12] sorenmalling opened #9 "Vis en leg når du skriver den direkte url i adressebaren"
Den fejler lige nu med HTTP 404

[2016-11-11 09:12] sorenmalling commented on #3
Gøres når Anders har sat serveren op :-D

[2016-11-11 09:13] sorenmalling commented on #5
Billederne skal hentes ned fra contenful

[2016-11-11 09:14] sorenmalling opened #10 "Opret cache manifest"

[2016-11-11 09:14] sorenmalling opened #11 "Cache håndtering på serveren"

[2016-11-11 10:16] Pilen opened #12 "404"
Vi skal have en 404 side.
En side man rammer hvis man har indtastet en url der ikke eksisterer.
Eller man har trykket på et link der ikke længere virker.

(Det er en god idé at logge dette)

En sjov idé kunne være at have et lille spil, ala det chrome gør hvis man ikke har net.
Men et spil er ikke højeste prioritet lige nu

Relateret til #9

[2016-11-11 15:49] Pilen opened #13 "Navbar hopper når scrollbar forsvinder"
Når man går ind på en leg der er kort nok til at kunne være i vinduet, så forsvinder scollbaren.
Dette får navbaren til at blive bredere så skjoldet hopper.

Kan fikses ved at sørge for at der altid er en div på 100 view height

[2016-11-11 16:25] Pilen opened #14 "Fjern kanter mellem lege på mobil"
så der ikke er hvidt mellem lege kasserne.
fjern mellemrummet.
Se evt. app'en

[2016-11-11 16:30] Pilen opened #15 "thumbnail skrift"
lilita

[2016-11-11 16:30] Pilen opened #16 "thumbnail bar"
skal være transperant

[2016-11-12 15:30] Pilen opened #17 "Hvordan skal område, alder, tid og deltagere forstås?"
Det data vi får fra contentful har følgende informationer vi kan bruge, her er et eksempel fra "stjæle-sten"

felt | data
------|-----
min_participants | 8
max_participants | 32
min_age | 7
max_age | 18
min_time | 5
max_time | 30
inside | false
outdoor | true

Hvordan ser vi om et område er 'lokale', 'plæne' eller 'skov' ud fra dette?

Hvordan bestemmer vi hvilken alders gruppering der skal bruges

[2016-11-12 16:01] Pilen opened #18 "Host fonte lokalt"
Istedet for at hente dem fra googles servere kan vi have dem liggende lokalt.
De er den eneste resource (udover google-analytics) som ikke ligger lokalt.

[2016-11-12 17:36] Pilen opened #19 "auto deploy til dev.legedatabasen.dk"
Sæt serveren/git/github op så dev.legedatabasen.dk altid kører på nyeste udgave af master.

[2016-11-12 17:42] Pilen opened #20 "Gennemgå farver"
Så alle farver er de korrekte FDF farver bestemt i styleguiden.

[2016-11-12 17:55] #16 closed, assigned to nobody

[2016-11-12 18:23] Pilen commented on #6
Jeg tror primært det der mentes her var ikonerne i oversigten, og ikke selve beskrivelsen.
Det du mente var nok #21
Dette er lavet, selvom Peter garanteret vil have det hele ændret!

[2016-11-12 18:23] #6 closed, assigned to nobody

[2016-11-12 18:26] Pilen opened #21 "Lege visning"
Hvordan en leg vises når der trykkes på den.
Lige nu vises navn, teaser og beskrivelse.
Men resten af informationerne kan også vises her, sammen med billeder og youtube video.

Og så skal det styles pænt.

[2016-11-12 22:23] Pilen opened #22 "Fix swiper dims"
Den swiper der bruges nu er ikke så velfungerende.
Det er ikke altid den registrerer input ordentligt.

(Jeg har kig på en anden)

[2016-11-12 22:24] Pilen opened #23 "Implementer "filtre""
Implementer filter funktionaliteten

[2016-11-12 22:28] Pilen opened #24 "Esc. på modals går ikke tilbage"
Hvis man har åbnet en leg og trykker på Escape-knappen, lukkes legen (bootstraps modal) men url'en forbliver den samme. Der skal ske et "back" kald istedet.

[2016-11-14 12:59] sorenmalling commented on #5
Der er både "images" og "videos" nu. Træk billeder ind med en mindre størrelse ved at angive dimensioner

https://www.contentful.com/developers/docs/references/images-api/#/reference/resizing-&-cropping/specify-width-height/retrieve-an-image

[2016-11-14 12:59] #3 closed, assigned to sorenmalling

[2016-11-14 13:00] sorenmalling commented on #19
Første hurtige fix vil være at sætte den til at køre git pull hvert 10 minut eller på serveren. Kræver et CI miljø, for at sætte automatisk del op

[2016-11-14 14:00] sorenmalling commented on #5
@Pilen @Piltoft kan vi identificere hvilke størrelser af billederne vi skal bruge, så laver jeg et nyt script som trækker dem ned, så skal vi ikke hente dem fra contentful hver gang og vi kan cache dem.

Er der nogle faste størrelser som vi ved skal bruges?

[2016-11-14 14:02] sorenmalling commented on #24
$('#myModal').on('hide.bs.modal', function (e) {
 // kør den der javascript funktion som laver håndterer "back" ?
})

[2016-11-14 14:02] #19 closed, assigned to nobody

[2016-11-14 14:03] sorenmalling commented on #18
Jens eller Peter, find fontene her og så kan vi loade dem ind

https://github.com/google/fonts

[2016-11-14 14:46] Pilen commented on #24
Ligeledes hvis man trykker uden for modalen.

[2016-11-14 16:16] Piltoft opened #26 "Individuel opacity på billede og infobar i legene"
Kan vi opdele legeboksen, så billedet har en opacity på 70% og infobaren har 90% og tekst og ikoner er upåvirket

[2016-11-14 16:18] sorenmalling commented on #26
@Piltoft Klart, du kan bare sætte CSS på de ting du gerne vil påvirke

[2016-11-14 16:40] Piltoft commented on #26
Jeg ved ikke hvordan jeg kan opdele den uden at lave rod i det.

[2016-11-14 17:15] #24 closed, assigned to nobody

[2016-11-14 17:19] sorenmalling commented on #4
FDF Skjold findes øverst til højre

[2016-11-14 17:19] #4 closed, assigned to nobody

[2016-11-14 19:51] peterrandorff commented on #17
**Område:**  
Områderne er delt i tre i det der hedder Lille, Mellem og Stor.  Der findes et felt i contentful der hedder Game Area der skal den trækkes fra.

**Alder:**
  En alders gruppering skal kun bestemmes ud fra minimum alderen og hvad den ligger tættest på.

1-5 år som det mindste skrives som en 2+ leg
6-10 skrives som en 7+ leg
11+ skrives som en 13+ leg  

**Tid:**
  Ja der skal i vælge

[2016-11-14 21:15] Pilen opened #27 "Lær Jens at bruge git..."
Og sæt et udviklingsmiljø op til ham lokalt.

[2016-11-15 00:01] Pilen opened #28 "Nogle lege har ingen kategorier"
Følgende lege har tilsyneladende ingen kategori:
* Kaptajnen siger
* Kædetagfat
* Bold i spand
* Radiokaraoke
* Tøjklemmekampen
* Edderkoppen
* Hund i lænke
* Cowboynavneleg
* Får-ulv-sten
* Hvem har bolden?
* Prinsessen på ærten

Yderligere så sætter backenden deres game_categories til null istedet for den tomme liste.
Det får swiperen til at kaste en fejl.
@sorenmalling, kan du ikke fikse backen

[2016-11-15 00:54] Pilen opened #29 "Vi mangler et favicon"
Vi mangler et favicon (ikonet ved siden af titlen i browserens fane).

[2016-11-15 02:12] #22 closed, assigned to nobody

[2016-11-15 07:02] Piltoft commented on #28
Alle Lege skal have kategori, jeg skal nok rette til

[2016-11-15 07:03] Piltoft commented on #29
Samme ballon som i swiperen, skal den converteres til et andet format?

[2016-11-15 07:18] #21 closed, assigned to nobody

[2016-11-15 08:29] sorenmalling commented on #29
@Piltoft formatet skal være .ico og filen hedde favicon.ico og være kvadradisk (48x48 eller 60x60 er anbefalet)

https://en.wikipedia.org/wiki/Favicon

Upload filen til "frontend" mappen og så kan den her sag lukkes

[2016-11-15 08:30] sorenmalling commented on #13
Browser issue som flere kæmper med

[2016-11-15 08:42] Piltoft commented on #29
Det har jeg prøvet, men så bliver baggrunden hvid og ikke transperent

[2016-11-15 08:43] Piltoft commented on #29
Nu kører den med en 48x48 png

[2016-11-15 08:44] sorenmalling commented on #29
Smukt - luk den her sag ved at trykke på "Close and comment" nede i bunden, når det spiller :)

[2016-11-15 08:44] #29 closed, assigned to Piltoft

[2016-11-15 08:48] sorenmalling commented on #28
@Pilen `game_categories` vil nu være et tomt array `"game_categories": [],` hvis der ikke er nogen.

Data opdateres hver time, klokken **:05

[2016-11-15 08:55] Piltoft commented on #28
Så har legene fået kategorier -jeg lukker

[2016-11-15 08:55] #28 closed, assigned to Piltoft

[2016-11-15 08:56] Piltoft commented on #18
De relevante fonte skulle gerne være uploaded

[2016-11-15 08:56] #18 closed, assigned to Piltoft

[2016-11-15 12:04] Pilen commented on #15
Denne blev rettet af @Piltoft i går

[2016-11-15 12:04] #15 closed, assigned to nobody

[2016-11-15 12:08] Pilen commented on #14
Vi skal nok lige snakke med Peter om præcis hvordan paddingen på .element-item skal sættes. Det giver nok mening med forskellige værdier på telefon og browser.
Jeg tror f.eks. det vil se for kompakt ud uden noget padding overhovedet, men man kunne reducere det f.eks. i siderne på en telefon.

[2016-11-15 12:13] sorenmalling commented on #26
@Piltoft Er det på visningen med mange lege eller når man ser en enkel leg i modal?

[2016-11-15 12:21] Piltoft commented on #26
Visningen på mange lege

[2016-11-15 12:27] Pilen commented on #26
Det har handlet om at når Jens satte opacity på hele elementet, så bliver infobaren og dens indhold også påvirket.

Man kunne overveje at lave et overlay oven på billedet, under infobaren, som er transperent hvidt. På den måde kan vi også skifte baggrundsfarve hvis vi ønsker uden at skulle ændre andet.

[2016-11-15 12:28] sorenmalling commented on #26
Jeg har kort undersøgt det og det kan gøres ved at flytte billedet fra baggrundsbillede og ind i selve boxen

Eksempel

[code]

og css som det her

[code]

Der går noget radius af boxen med det, men det må undersøges. Jeg kan først pushe det i morgen

[2016-11-15 12:28] sorenmalling commented on #26
![image](https://cloud.githubusercontent.com/assets/531918/20305768/70a0a2ea-ab37-11e6-8058-09757950ac00.png)

[2016-11-15 12:33] Pilen commented on #24
Løsningen i 2988e6c er ikke helt ideel, da den bryder konceptet om at lukke en modal svarer til at trykke tilbage til forsiden.
Hvis man indsætter back funktionaliteten på eventet bliver det affyret dobbelt når man trykker på browserens tilbage knap.

Jeg lader det være for nu, men det er noget vi skal kigge på til senere.

[2016-11-15 12:43] Pilen opened #30 "Default billeder"
Når vi skal give legene et default billede ud fra hvilken kategori legen er i, hvad gør vi så hvis legen har flere kategorier?

[2016-11-15 12:48] Piltoft commented on #30
Ud fra den er figurerer først

[2016-11-15 12:49] #30 closed, assigned to nobody

[2016-11-15 14:13] Pilen opened #31 "Styling af lege beskrivelser"
Vi bruger markdown til at formatere legebeskrivelserne.
Et eksempel er "leg løs"

Vi skal dog lige kigge på stylingen af det genererede html.
F.eks. er h1 stylet med hvid hvilket ikke er synligt.

[2016-11-15 14:47] #7 closed, assigned to nobody

[2016-11-15 14:50] sorenmalling opened #32 "Gem billeder fra Contentful lokalt"

[2016-11-15 14:51] sorenmalling commented on #9
https://github.com/camme/jquery-router-plugin

[2016-11-15 15:15] Piltoft opened #33 "@Pilen - har du croppet default billederne? De skal kun fylde 1/3 af et legeelement sidde til højre"

[2016-11-15 15:17] Piltoft opened #34 "Kan man "autoselecte" søgefeltet, således at når man trykker på søgeikonet bringes tastaturet automatisk op"

[2016-11-15 15:20] Piltoft opened #35 "Alle locations siger "plæne" kan det passe?"

[2016-11-15 15:32] peterrandorff opened #36 "Legevisningen"
Generelt:

1. Ikonerne er hvide - de skal være blå
2. Skriften ved filtrene er for stor kan den sættes 2-3 punktstørrelser ned? evt. samme størrelse som overskriften.
3. Kan der laves overskrifter på indholdet. dvs. Beskrivelse, forberedelse, noter
4. Der mangler et kryds i hjørnet så man både kan lukke visningen i toppen og bunden

Mobilversionen:

1. Billedet er meget lille i en mobilversion kan

[2016-11-15 15:33] Pilen commented on #35
Nævn én leg der ikke kan leges på en plæne!...

[2016-11-15 15:35] Pilen commented on #35
Derudover mangler jeg stadig at få adgang til feltet "Game Area" som nævnt i #17
Lige så snart @sorenmalling sender det data med i data.json kan vi opdatere det.

[2016-11-15 15:37] peterrandorff opened #37 "Swiper - på mobilen"
På mobilen loader swiperen meget langsomt når man skifter kategori og fryser hele siden når den står og loader.

[2016-11-15 15:40] Piltoft commented on #35
Bordlege bør ikke sige "plæne"

[2016-11-15 15:41] peterrandorff opened #38 "Billeder"
Billederne i (thumpnailsne?) altså de enkelte små visninger af legene, skal rykkes op sådan at de centreres omkring midten og ikke toppen.

Lige nu er toppen af billedet det samme som toppen af visningen.

[2016-11-15 15:43] Piltoft commented on #34
Virker ikke på IOS:
Googlede lidt, måske dette?
http://stackoverflow.com/questions/4609765/manually-triggering-the-iphone-ipad-ipod-keyboard-from-javascript

[2016-11-15 15:47] Piltoft opened #39 "Søgefeltet lægger sig oven på søgeknappen på smalle skærme"
Kan vi placere feltet til højre for knappen

[2016-11-15 15:56] Pilen commented on #9
Hvad er der nu galt med min router funktion :P
Andet end at alle stier skulle rettes til at være absolute.

Der er måske noget i at vi godt kunne gøre indlæsning af data dovent i baggrunden frem for at skulle hente billederne til alle lege og kategorier først.
Men det tager vi senere

[2016-11-15 16:01] Piltoft opened #40 "Topbillede i browserversion"
Se vedhæftelse
![capture](https://cloud.githubusercontent.com/assets/23454261/20312793/13ff49ec-ab55-11e6-8fe9-63695b478de0.JPG)

[2016-11-15 16:03] Pilen opened #41 "Menubar - mobil"
Menubaren skal redesignes så den matcher Peters ønske

[2016-11-15 16:04] Pilen opened #42 "Menu - Browser"
På en stor skærm skal menuen ikke matche menubaren for en mobil ( #41 )

[2016-11-15 16:05] Pilen commented on #42
Se issue #40 for at få et billede

[2016-11-15 16:06] Pilen commented on #40
Bliver implementeret når menuen bliver færdigt som nævnt i issue #42

[2016-11-15 16:06] sorenmalling commented on #38
#32

[2016-11-15 16:07] Pilen commented on #39
Dette bliver fikset i issue #41 og #42

[2016-11-15 17:58] Pilen commented on #41
Har den næsten, skal bare lige have hooket knapperne op igen.

[2016-11-15 20:10] Pilen commented on #41
Jeg har smidt den nye menu op.
Jeg mangler stadig at få knapperne til at virke, men nu kan I se den.

[2016-11-15 20:31] peterrandorff commented on #41
Det ser bare PISSE fedt ud.

Ikoner skal være lidt mindre alle sammen.
FDF skjoldet skal være farvet hele tiden og menuknappen skal være helt hvid hele tiden.

Awesome med den animerede ballon!

[2016-11-15 23:03] Pilen opened #43 "submenu"
Implementer en pop-up undermenu når man trykker på menu ikonet.
Dette skal gøres for både #41 og #42
Vi kan forhåbentligt nøjes med en enkelt responsive menu.

[2016-11-15 23:11] #39 closed, assigned to Pilen

[2016-11-15 23:19] Pilen commented on #12
Der er lavet en simpel side.
Men det kan være at vi skal kigge på enten at få lavet noget pænt grafik, f.eks. et skattekort eller en ballon der gemmer sig eller noget i den stil.

Ellers skal vi lave et eller andet simpelt spil som folk kan glæde sig over istedet.

Det vi har burde dog være godt nok til landsmødet.

[2016-11-16 01:32] Pilen commented on #37
Der er også nogle gange hvor den fryser ude i et af yder slidesne, og ikke vil vise billederne ved siden af eller skifte længere.

Virker den overordnet bedre eller dårligere end den gamle, eller skal vi se efter en anden? Vi skifter nok ikke før efter landsmødet.

[2016-11-16 05:20] Piltoft commented on #37
Jeg synes den kører bedre end den gamle.

[2016-11-16 07:23] Piltoft commented on #12
Man kan få et 404 pacman spil

[2016-11-16 07:26] Piltoft opened #44 "Når man åbner en leg scroller man stadig i den bagvedliggende oversigt"

[2016-11-16 13:04] Pilen opened #45 "Menu oven på modal scrollbar"
Når man åbner en leg der er lang nok til at der skal scrolles, f.eks. leg løs, så ligger menubaren oven på scrollbaren (ihvertfald i chrome).

Relateret til #44

[2016-11-16 13:10] Pilen commented on #44
Hmm, med
`body.modal-open {
    overflow: hidden;
    position: fixed;
}
`
fra http://stackoverflow.com/questions/9538868/prevent-body-from-scrolling-when-a-modal-is-opened

Stopper den med at scrolle, tilgengæld hopper den op til toppen, og ødelægger visningen af legene i baggrunden...

Det skal ikke være nemt.

[2016-11-16 13:31] #33 closed, assigned to nobody

[2016-11-16 14:01] Pilen commented on #33
Det ser godt ud.
Er det med vilje at baggrunden på nogle af billederne er en anden farve?

[2016-11-16 14:06] Piltoft commented on #33
Ja, jeg eksperimenterer lidt

[2016-11-16 14:09] Pilen commented on #36
Jeg har lavet en tilbageknap, det er godt nok en pil og ikke et kryds.
Der ligger en fil Emil har lavet på dev.legedatabasen.dk/icons.html hvor man kan se ikonerne i .woff filen.

Der er et problem med at knappen er ret usynlig på en lys/hvid baggrund.
Så den er totalt usynlig på f.eks. aberne i træerne

[2016-11-16 14:26] Pilen commented on #36
Alt kan fixes med en shadow, Peters yndlings design!

[2016-11-16 15:55] Pilen commented on #13
Man kan hvad man vil, nu er der et 100% + 1px højt element på siden, så nu forbliver scrollbaren og vi undgår ting der hopper.

[2016-11-16 15:55] #13 closed, assigned to nobody

[2016-11-16 16:04] Pilen commented on #44
Hmm den måde modals virker på gør at scrollbaren fra den originale side forsvinder, hvilket bryder det ellers løste #13

[2016-11-16 16:49] peterrandorff commented on #37
Jeg har lige prøvet at vise hvordan det er at den kører på min iphone. Dette er den samme måde jeg har set den køre på to andre iphones også.

https://www.youtube.com/watch?v=sLHuVsdLSHk

[2016-11-16 17:39] Piltoft opened #46 "Bliver swiperen mere flydende med et delay?"
Hvis den ligesom med text input venter med at bringe lege frem til swiperen har stået stille i 0,5 sekund. Derved kan man swipe som en gal og det vil stadig føles flydende

[2016-11-16 17:40] Piltoft opened #47 "Søgefunktionen giver resultater på sjofle ord og volapyk"
Kan vi gøre sådan at søgefunktionen kunne viser resultater med en vægtning over en hvis værdi?

[2016-11-16 18:15] Pilen commented on #37
Det der sker når man swiper er at swiperen registrerer at man har swipet og når man har swipet færdigt sender den et "jeg har swipet" event.
Det event lytter vi på, med en funktion der så kalder showCategory functionen, der opdaterer søgemaskinen med den nye kategori. Søgemaskinen er sat til at have et delay på 50ms før den gør noget, det er primært til når man taster og man kunne overveje at igno

[2016-11-16 19:10] Pilen commented on #37
Nu her har jeg indført noget debugging information i toppen, her kan i se hvordan isotope bruger alt tiden, og resten bliver stort set brugt på de 50ms delay.
Jeg har halveret tiden ved at den ikke reset'er søgningen hele tiden når man swiper.
Men det tager stadig 2-3 sekunder at arrangere alle elementerne.

At gøre noget ved dette er ikke trivielt og kræver enten:
- At vi finder nogle magiske try

[2016-11-17 12:20] #32 closed, assigned to sorenmalling

[2016-11-17 12:31] Piltoft commented on #44
Fandt et fix her: https://github.com/twbs/bootstrap/issues/14839

[2016-11-17 12:35] sorenmalling commented on #10
Jeg har ikke været helt up-to-date og kan se at det bliver fjernet fra browsere inden længe

https://html.spec.whatwg.org/multipage/browsers.html#offline

[2016-11-17 12:35] #10 closed, assigned to sorenmalling

[2016-11-17 12:42] sorenmalling commented on #35
Er jeg ikke assignet, så ser jeg den ikke - men nu er der game area med :-)

[2016-11-17 12:43] #11 closed, assigned to sorenmalling

[2016-11-17 12:43] sorenmalling commented on #11
Der bliver cachet alle former for asset.

[2016-11-17 12:46] #26 closed, assigned to sorenmalling

[2016-11-17 12:47] sorenmalling commented on #9
Det spiller lækkert :-)

http://dev.legedatabasen.dk/leg/afrikansk-bombebold

[2016-11-17 12:47] #5 closed, assigned to nobody

[2016-11-17 12:50] #31 closed, assigned to sorenmalling

[2016-11-17 12:50] Piltoft commented on #44
Okay det virker ikke alligevel

[2016-11-17 12:52] sorenmalling commented on #44
@Piltoft "Hvad virkede ikke alligevel"?

[2016-11-17 12:53] Piltoft commented on #44
.modal
{
    -webkit-overflow-scrolling: auto !important;

}

[2016-11-17 12:53] #38 closed, assigned to sorenmalling

[2016-11-17 12:53] sorenmalling commented on #38
Jeg er overbevist om at det er fikset nu ellers må du gerne smide et eksempel og et skærmbillede

[2016-11-17 12:56] sorenmalling commented on #44
Og hvad skete, som der ikke var forventet ? :-) Jeg fisker efter info, for at jeg ikke skal sidde og bruge tid på at opdage det samme, som du allerede har opdaget en gang

[2016-11-17 12:56] gaardee commented on #9
Hej drenge

Jeg har slet ikke haft tid til at følge med i udviklingen, og det har ikke
hjulpet at jeg lige har ligget syg i næsten en uge :s

Men jeg kom lige til at kigge på det her, (da jeg jo har fulgt lidt med,
det er jo svært når man får 20 mails i timen ;) ) når jeg åbner legen med
linket, så virker Close knappen ikke.

Desuden så er der en underlig lege titel i bunden, er det meningen? og s

[2016-11-17 13:03] Piltoft commented on #44
På IOS - Hvis hele modalen kan vises på skærmen scroller den på hovedsiden. Før kunne man slet ikke scrolle, men det rettede: -webkit-overflow-scrolling: auto !important;

[2016-11-17 15:03] Pilen commented on #46
Fin idé, men det er allerede hvad der sker. Se #37

[2016-11-17 15:03] #46 closed, assigned to Pilen

[2016-11-17 15:14] Piltoft commented on #40
Denne har høj prioritet

[2016-11-17 15:15] sorenmalling commented on #40
Hvad skal jeg se?

[2016-11-17 15:16] sorenmalling commented on #40
Eller, hvorfor blev jeg assignet?

[2016-11-17 15:16] Pilen commented on #35
Det er rettet, jeg viser lige nu den første at de mulige områder, jeg antager at dette er fint, er det overhovedet nødvendigt at kunne have flere? pyt det gør nok ikke noget i praksis.

Der er dog ca. 15 lege der tilsyneladende ikke kan leges nogen steder...

[2016-11-17 15:16] #35 closed, assigned to nobody

[2016-11-17 15:18] Pilen commented on #40
@Piltoft, Kan i sende mig billedet?

[2016-11-17 15:19] Piltoft commented on #40
Fordi jeg ikke ved hvem kan tager sig af den del og der var ingen assignet til den, så smed jer begge på

[2016-11-17 15:22] Piltoft opened #48 "Kan modalen hente et billede i højere opløsning?"
Evt. i "720 x ??" eller bliver den for tung - det er meget grynet

[2016-11-17 15:23] Piltoft commented on #47
Ellers kunne den smække en gul bar ind efter de relevante resultater med teksten "din søgning gav ikke flere resultater, men vi har nogle andre lege du kan kigge på herunder"

[2016-11-17 15:27] Pilen opened #49 "Fjern kategorien "Alle lege" fra "Håndpistol""
Vi tilføjer automatisk kategorien "Alle lege", så den skal ikke tildeles i contentful.
Det er derfor den ikke har noget billede fordi Alle lege kommer først.

[2016-11-17 15:32] sorenmalling commented on #48
Sagtens du siger bare til og så ændrer jeg formaterne. Prøv dig evt. frem med

http://images.contentful.com/ehoqvzhuqkke/4wHO2xFxr2E2AA04AokUI6/d8fe152209271daa93ddf75f7321f30b/10_sekunder.JPG?w=800

og parametrerne her

https://www.contentful.com/developers/docs/references/images-api/#/reference/resizing-&-cropping

[2016-11-17 15:37] Piltoft commented on #49
done

[2016-11-17 15:37] #49 closed, assigned to Piltoft

[2016-11-17 15:37] Pilen commented on #49
Hmm, filtrerede lige legene så alle kategorier indeholdende teksten "alle lege" ignoreres.
Så fejler siden ikke fremover

[2016-11-17 15:59] Piltoft commented on #48
w=720&h=405&fit=fill&f=faces

[2016-11-17 16:02] Piltoft commented on #40
![traekke-gulerod-5717](https://cloud.githubusercontent.com/assets/23454261/20396780/a010c792-ace7-11e6-9cdb-0db525f0643e.jpg)

[2016-11-17 16:10] Pilen commented on #42
Ved hvilken opløsning skal den skifte til browser visning frem for mobil?

[2016-11-17 16:11] Pilen commented on #40
Hvordan skal det fungere når man scroller ned på siden?
Menuen scroller jo med ned ad siden, skal billedet også bevæge sig med?

Eller skal browser menuen opføre sig anderledes?

[2016-11-17 16:13] Piltoft commented on #40
Billedet skal forsvinde, men menuen skal "sticke"

[2016-11-17 16:15] Piltoft commented on #42
Er det kun på opløsninger vi kan registrere mobiler? I så fald vil jeg sige 1000 pixels, det vil sige at har man minimum 1024 pixels får man desktopversionene

[2016-11-17 16:22] sorenmalling commented on #48
Done, committet og jobbet er kørt

[2016-11-17 16:22] #48 closed, assigned to Piltoft

[2016-11-17 16:43] Piltoft opened #50 "Den blå og gule bar skal rykkes under billedet og gøres minde"
![img_0178](https://cloud.githubusercontent.com/assets/23454261/20398354/66d13cfe-aced-11e6-9228-d0415d912b5d.PNG)

[2016-11-17 16:45] sorenmalling commented on #50
Men kun på mobiltelefoner?
Alternativt, skal billedet gøres højere?

[2016-11-17 16:52] Piltoft commented on #50
Den skal rykkes under på alle enheder, da 16:9 som billederne er nu også vil passe med de film vi kommer til at ligge op

[2016-11-17 16:56] sorenmalling commented on #50
Sådan her ?
![image](https://cloud.githubusercontent.com/assets/531918/20398781/06237c3a-acef-11e6-8686-460fc4caea22.png)
![image](https://cloud.githubusercontent.com/assets/531918/20398810/22fdd7ce-acef-11e6-8d54-a580130784f4.png)

[2016-11-17 16:58] #50 closed, assigned to nobody

[2016-11-17 17:00] Piltoft commented on #50
Det er ihvertfald bedre, så kan Peter fintune efterfølgende. - så skal den blå og gule gøre lavere på mobilen, så de tilsammen er 1,5x topbaren

[2016-11-17 19:52] Piltoft opened #51 "I legeoversigten bliver billederne trykket ned fra 16/9 til det format det nu har på mobilen."
Alle billeder bliver trykket 10-20% i højden på mobilen.

[2016-11-17 20:38] peterrandorff opened #52 "Legevisningen viser kun indhold fra (contentful) felterne "description" og ikke fra felterne "preparation" og "note""
Der må desuden gerne være overskrifter på felterne.

ex.

**Beskrivelse:**

Blablablablablablablabla
Blablablablablablablabla
Blablablablablablablabla

**Forberedelse:**

Blablablablablablablabla
Blablablablablablablabla
Blablablablablablablabla

**Note:**

Blablablablablablablabla
Blablablablablablablabla
Blablablablablablablabla

[2016-11-17 21:21] sorenmalling commented on #51
Af den årsag at billederne bliver trukket til fuld bredde og højden automatisk justerer sig

[2016-11-17 21:35] Piltoft commented on #51
kan den ikke bare "fitte" i bredden og fjerne i top og bund?

[2016-11-18 09:48] Piltoft opened #53 "Søgefeltet virker ikke"

[2016-11-18 09:51] Piltoft opened #54 "Man kan ikke lukke modal"

[2016-11-18 09:59] sorenmalling commented on #54
Jeg kan godt lukke modalen, så der må være noget helt specielt du gør og under nogen bestemte forudsætninger. Jeg kan ikke lave noget på det her projekt i dag så vil tidligst kunne se på det i aften i Nyborg

[2016-11-18 10:01] Piltoft commented on #54
Helt ok, men jeg kan hverken lukke den på mobilen eller desktop på **knapperne**, men det virker, hvis jeg trykker ved siden af

[2016-11-18 10:08] sorenmalling commented on #54
Aktiver det her værktøj

https://developers.google.com/web/tools/chrome-devtools/

og skift til "Console"/"Konsol" fanebladet og genindlæs siden. Åben en leg og forsøg at lukke den. Hvis der kommer nogen røder tekster frem, så sæt dem ind her.

Jeg kan ikke fremprovokere fejlen, så ved ikke hvad jeg skal lede efter

[2016-11-18 10:16] Piltoft commented on #54
Der kommer ingen røde tekster, men det er som om at den at den genindlæser legedatabasen når jeg trykker på en leg - det er kommet med @Pilen 's nye isotop-alternativ

[2016-11-18 10:20] Piltoft commented on #54
@Pilen - Det er din alfabetiske sortering der bugger - jeg tror den overwriter alle andre sorteringer og derfor også søgningen

[2016-11-18 13:55] Piltoft commented on #53
Din alfabetiske sortering lægger sig oven på alt vægtningen

[2016-11-18 14:19] Pilen commented on #54
Det burde være fikset nu.
Des som skete var at den måde vi arrangere legene på istedet for isotope, er at vi river alle noderne ud af dom'en, altså tager det virtuelle html element ud af siden, sorterer dem og indsætter dem igen.

Men det ser ud til at når man fjerner et element fra dom'en så fjernes alle dets event handlers, det vil sige at at den funktionalitet vi har bundet op på at håndtere et

[2016-11-18 14:27] Pilen commented on #53
Man skal lige huske at indkommentere koden igen...

[2016-11-18 14:27] #53 closed, assigned to Pilen

[2016-11-18 14:36] Piltoft commented on #53
Det spiller!! Fedt!

[2016-11-18 14:39] Pilen opened #55 "Lukning af direkte åbnede lege virker ikke"
Hvis man åbner en leg via et direkte link.
Åben f.eks. http://dev.legedatabasen.dk/leg/hatteleg i en ny fane.

Hvis man trykker på luk knappen ændres urlen, men ikke visningen.

[2016-11-18 15:30] Pilen commented on #54
Man kan også bruge "delegated" events, snedigt...

[2016-11-18 15:30] #54 closed, assigned to Pilen, Piltoft

[2016-11-18 20:32] Pilen opened #56 "Legedatabasens logo"
Kan jeg få legedatabasens logo?

[2016-11-18 21:11] Piltoft commented on #56
![img_0182](https://cloud.githubusercontent.com/assets/23454261/20446863/fc870118-addb-11e6-813c-ea6d652c0d2a.PNG)

[2016-11-18 21:12] Piltoft commented on #56
Malling sidder med headerbilledet lige nu

[2016-11-18 21:44] Pilen commented on #40
Vi har noget kørende nu. Jeg skal nok få opdateret billedet

[2016-11-18 23:31] sorenmalling commented on #40
~~@pilen Jeg har lavet en branch med en ny sticky header som bruger twitter bootstrap elementerne, for at kunne håndtere placeringer mv.~~

https://github.com/Pilen/legedatabasen/commit/98baf916d03f1a4d08c7a8890ac481714463177c

~~Vil du ikke prøve at implementere søgefeltet igen? Evt. bruge min css på det oprindelige for placeringer. Jeg har ingen held med at få søgefunktionen frem igen~~

[2016-11-19 00:23] sorenmalling commented on #40
Nevermind, vi kan nu se topbilledet :-) så ignorer sidste besked

[2016-11-19 00:32] Pilen commented on #40
Ahh, havde glemt at uploade nogle filer.. hehe ups.

Jeg havde med vilje prøvet at undgå bootstrap lidt, da jeg synes tingene hurtigt bliver lige så besværligt som ikke at bruge det, især hvis man gerne vil have tingene lidt anderledes end bootstrap ønsker.

På et tidspunkt kan vi måske droppe bootstrap helt som afhængighed, det burde også barbere lidt af siden af.

[2016-11-19 00:50] #52 closed, assigned to sorenmalling

[2016-11-19 02:00] Pilen commented on #40
Fungerer det som ønsket?
Kan vi lukke issuet?

[2016-11-19 02:00] Pilen commented on #56
Har vi det også i vector format?

[2016-11-19 02:02] #9 closed, assigned to nobody

[2016-11-19 06:35] Piltoft commented on #40
Jatak

[2016-11-19 06:35] #40 closed, assigned to Pilen

[2016-11-19 14:01] Pilen opened #57 "Ryd op i style.css"
Vi trænger virkeligt til at få ryddet op i stylesheet'et.
Det roder værre end materialerummet efter en sommerlejr!

[2016-11-19 14:08] Pilen commented on #43
Hvordan skal den fungere, i følge tegningerne ser det ud til at den lægger sig oven på indholdet. Alternativt kan den blive placeret istedet for swiperen når man trykker på den, så den altså bliver fremme i toppen af dokumentet

[2016-11-19 15:09] Piltoft commented on #43
I Mobilen skal swiperen lukke og menuen lægge sig ovenpå legene, da den formentlig vil fylde det meste af skærmen og det ikke er intuitivt at scrolle ned for at finde legene. På browserverisonen kan den fint erstatte swiperen.

[2016-11-20 10:28] Pilen commented on #43
Så har jeg uploaded en udgave, der er helt sikkert en masse ting der kan forbedres, men nu virker det da.

[2016-11-20 11:24] Pilen opened #58 "Legedatabasen.dk udvikling fremad"
Nu har vi knoklet og på kort tid forvandlet en grov prototype til en faktisk fungerende side.
Der er sket rigtigt meget, blandt andet fordi vi har hafte en meget konkret deadline iform af Landsmødet.
Som mængden af åbne issues antyder er der dog stadig mange ting der mangler at blive gjordt på siden.
Vi skal derfor overveje hvordan vi fortsætter arbejdet, der er nogle forskellige modeller:

### Lø

[2016-11-20 11:54] Pilen commented on #23
Virker de som forventet?

[2016-11-20 11:58] Piltoft commented on #23
Den loader ikke lege

[2016-11-20 12:05] Piltoft commented on #23
legedatabasen.js:84 Uncaught TypeError: Cannot read property 'name' of undefined
    at http://legedatabasen.dk/legedatabasen.js:84:69
    at Array.map (native)
    at Object.success (http://legedatabasen.dk/legedatabasen.js:72:21)
    at i (http://legedatabasen.dk/bower_components/jquery/dist/jquery.min.js:2:27983)
    at Object.fireWith [as resolveWith](http://legedatabasen.dk/bower_components/j

[2016-11-20 12:33] Pilen commented on #23
Fejlen er at legen har mistet sit billede, så prøver den sin kategori, men den har heller ingen kategori

I har rettet i "-- Live Test --"

[2016-11-20 12:41] Piltoft commented on #23
Jeg har skiftet billedet ud, på Peters ønske

[2016-11-20 12:43] Piltoft commented on #23
Jeg har tildelt den alle kategorier

[2016-11-20 12:51] Pilen commented on #23
Nu burde den også få et default.png billede hvis intet er valgt.

[2016-11-20 14:57] Pilen opened #59 "Afklik filtre"
Når man lukker filter boksen fjernes filtret i søgemaskinen, men hvis man åbner undermenuen igen, så er knappen stadig markeret selvom filtret ikke er aktivt

[2016-11-20 14:57] #23 closed, assigned to Piltoft

[2016-11-20 15:37] Pilen commented on #58
Juhuuu, milestone 1, Landsmøde er blevet lukket: 0 åbne 27 lukkede!

[2016-11-20 22:38] Pilen opened #60 "License"
# SAVNER DU OGSÅ LANDSMØDET???
## Synes du at vedtægtsændringer er sagen?
### Elsker du at tage stilling til obskure abstrakte problemstillinger vi alle ved ikke har den store indvirkning på noget som helst?
I så fald skal du da være med til at beslutte hvilken software license vi skal bruge på legedatabasen.
Er du en permissivist der ser det gode i alt og ville åbne dit hjem for alle, eller er du

[2016-11-21 13:18] Piltoft opened #61 "Søgning på alders navne (pusling osv.)"
Jeg fik her i weekenden en del spørgsmål på om det var muligt at søge på pusling eller tumling så den blev aldersinddelt. Jeg vil derfor spørge ind til om vi kan lave dette som en mulig søgning?

Jeg skal derudover her i næste weekend vise legedatabasen frem til KFUM spejderne og tænkte i den forbindelse også at inkludere deres alders trin så søgningen passer sammen der.

En fuld liste kan ses her

[2016-11-21 13:19] Piltoft commented on #61
Kan iøvrigt se at jeg er logget ind som Jens.

Det er Peter der skriver her :)

[2016-11-21 21:46] peterrandorff commented on #61
Har her til aften haft en samtale med Malling omkring om dette overhovedet er en god idé.
Gør vi søgefunktionen dårligere ved at inkluderer dette?

[2016-11-21 23:15] Pilen commented on #61
Nej, nej det kan vi sagtens. Den simpleste måde at gøre det på er at oprette et "virtuelt" felt på hver leg, altså at frontenden kigger på hvilken aldersklasse legen matcher og så tilføjer en tekst med alle de passende klasser. Så tilføjer vi dette felt til søgemaskinen. Hvis ens søgning så indeholder ordet puslinge vil alle lege der matcher det ord, hvilket alle 2+ lege gør,  lægge sig i toppen

[2016-11-21 23:54] Pilen opened #62 "Fremhæv nye lege"
Ville det være en ide at fremhæve nye lege i oversigten ved feks. At placere en ribbon (som den vi har i toppen med live test) med teksten "Ny" oppe i højre hjørne. Det kræver at vi i contentful skal notere hvornår en leg blev oprettet (hvis den data ikke allerede findes). Og så skal vi beslutte hvor længe en leg er ny?

Er det noget vi gider?

[2016-11-22 00:04] Pilen opened #63 "Slankekur"
Siden fylder lige nu over 30MB!
En del af ressourcerne kunne sagtens slankes ned. F.eks. er en del af ikonerne meget store. Men man kunne måske også gøre noget med at have alle billederne liggende på serveren i flere størrelser og så henter siden de billeder ned der matcher browserens størrelse.

[2016-11-22 00:08] Pilen opened #64 "Hent billeder i baggrunden"
Det ville være fedt hvis legene blev vist lige så snart json filen var hentet,  så bare med et default billede, og at de rigtige billeder så blev hentet ned i baggrunden og lagt ind istedet når de kom ned

[2016-11-22 13:02] peterrandorff opened #65 "problemer på en lenovo tablet"
en bruger har sendt mig dette billede som sker på hans Lenovo CE0700 tablet. (Android)

![screenshot_2016-11-22-14-03-00](https://cloud.githubusercontent.com/assets/23461795/20524745/3e16de40-b0bc-11e6-9471-a7a368435de3.png)

[2016-11-22 13:06] peterrandorff commented on #65
det er en Lenovo CE0700

[2016-11-22 13:53] Pilen commented on #65
Øhmm... Så sagde vi at det var en feature for så trykker man bare og håber på at man får en god leg?

Det ser ud til at problemet er ældre versioner af den indbyggede standard browser på android.
Hvis man bruger chrome, er det ikke et problem, og på min kærestes Samsung Galaxy S5 viser standard browseren det korrekt selv om den tager meget lang tid at indlæse.

Men på min egen telefon får jeg noge

[2016-11-22 14:05] Piltoft commented on #65
Vi havde også problemet på en ipad 4 på landsmødet. Malling snakkede noget om at den henter nogle dele i forkert rækkefølge

[2016-11-22 14:05] peterrandorff commented on #65
Jeg kunne forestille mig at vi indimellem kommer til at have med disse personer som ikke helt kender til brugen af forskellige typer browsere på tablet mv. så jeg tror det er bedst at vi stiler efter en løsning så legedatabasen virker også på disse enheder.

[2016-11-22 14:10] Pilen commented on #47
Før viste en tekstsøgning altid alle lege i oversigten, men sorteret efter vægtning.
Det betød at en søgning på f.eks. "pik" returnerede alle lege som herefter blev sorteret alfabetisk.

Nu returneres kun de matchede resultater, så "pik" returnere ikke noget, det gør "patter" heller ikke. Men hvis man søger efter "pik og patter" dukker Boogie Woogie op, da den matcher på ordet "og"

[2016-11-22 14:13] Pilen opened #66 ""ingen resultater" besked"
Når man søger og ikke finder nogen resultater efterlades oversigten bare blank, det ville være fint at der så bare stod en tekst med at der ikke blev fundet nogen lege.

Vi kunne også have en trøstepremieleg eller et eller andet i den stil.

[2016-11-22 14:14] Pilen commented on #65
Jeg tror desvære du har ret.

[2016-11-22 22:35] peterrandorff commented on #66
MEGA fan af en trøstepræmie leg ;)

[2016-11-23 00:27] Pilen commented on #61
Den smarte måde er at bruge søgemaskinens filter funktionalitet.

Søgemaskinen virker ved at den først kører alle de filtre på alle legene for at finde ud af hvilke der skal vises. Så kigger den på de valgte lege og udregner hvor godt de matcher på søge teksten. Lige nu er der defineret 4 simple filtre som knapperne i menuen indstiller. Men jeg har overvejet om vi skulle lave et ekstra "søge filte

[2016-11-23 14:10] Pilen commented on #65
Ok, nu falder den tilbage på at alle lege vises som et 300 * 136.042 px billede hvis ikke udregningen af de rigtige størrelser virker korrekt. Det er ikke det kønneste i og med at der så kommer noget ekstra hvid margen ude til højre, men det virker.

Tilgengæld går det stadig meget langsomt med at få hentet alle legene ind og vist dem

[2016-11-23 14:24] Pilen commented on #65
Skal vi håbe på at det bliver løst via #63 og #64

[2016-11-23 14:24] #65 closed, assigned to nobody

[2016-11-23 14:27] Pilen commented on #66
Hvis I opretter en leg i contentful kan jeg bare filtrere den fra så den ikke er en del af de normale lege, men kun indsættes når der ikke blev fundet nogen andre.

[2016-11-23 23:17] #37 closed, assigned to nobody

[2016-11-23 23:25] Pilen opened #67 "Swiper dør"
Til tider dør Swiperen. Det sker hyppigst når den har været gemt væk, ved F.eks en søgning. Når man kommer tilbage igen mangler ikonerne i venstre side, den er typisk scrollet lidt og så svarer den ikke på input.

Find us af hvad der sker her.
Måske kan man reinitialize den hver gang vi åbner den op.

Hvis ikke der er en smart indbygget måde, må man genoprette den helt

Hvis ikke vi kan få det til

[2016-11-24 09:30] peterrandorff opened #68 "Video visning"
Der er enkelte lege der har en video tilknyttet.
Kan disse blive set i legevisningen?

[2016-11-25 18:53] Pilen opened #69 "Filtrering på forbogstav"
Når søgeteksten består af et enkelt bogstav skal der ikke udføres en normal søgning. Istedet skal der laves en Filtrering på alle lege hvis navn starter med dette bogstav

[2016-11-26 02:08] #61 closed, assigned to nobody

[2016-11-26 04:39] Pilen opened #70 "No script besked"
Vi bør have en noscript besked der fortæller folk der har slået javascript fra at siden er bygget op omkring javascript for at indlæse samt søge og filtrere legene. Samt at vi bruger Google analytics.  Legedatabasen virker derfor ikke uden javascript. Vi kunne ydermere lave en speciel HTML-only leg som kun folk uden javascript kan se som trøst.

(Jeg tror umiddelbart at det er en meget begrænset d

[2016-12-01 23:28] Pilen opened #71 "Visning på Facebook"
Når man deler en leg på facebook vises et lille udsnit af siden.
Det ville være fedt hvis vi kunne optimere dette på en måde så det var noget af selve legen der blev vist.

[2016-12-06 11:53] sorenmalling commented on #71
Note til opgave: Opengraph tags for facebook, twitter cards for twitter

[2016-12-06 21:38] Pilen opened #72 "Video ikon i oversigt"
Videoikonet for lege i oversigten ligger bagved billedet.

[2016-12-07 03:51] Pilen commented on #71
Crap, jeg har kigget lidt på det.

Opengraph er en protokol Facebook har lavet som sider kan overholde. Man kan i headeren af HTML filen angive nogle tags som Facebook tager udgangspunkt i. Man kan der angive et billede, en titel og en beskrivelse, der er også et par andre småting, men det er basalt set hvad vi kan.

Når man deler et link, hiver Facebook siden ned, finder disse tags i headeren og

[2016-12-08 03:07] Pilen opened #73 "Legedatabasen.dk er nede!"

[2016-12-08 03:08] Pilen commented on #73
Vent, fdf.dk er også nede.

Så det er nok ikke vores skyld.

[2016-12-08 13:40] #73 closed, assigned to sorenmalling

[2016-12-08 19:43] #68 closed, assigned to Pilen

[2016-12-08 20:03] Pilen opened #74 "Modals fejler"
Ind i mellem vil en modal ikke lukke.
Ligeledes er der problemer med at den bliver beskåret sjovt når man scroller mens den er åben i toppen.

[2016-12-08 20:04] #72 closed, assigned to nobody

[2016-12-09 15:02] Pilen opened #75 "Kun den første video bliver vist"
Når man åbner en leg med en video bliver denne vist korrekt, hvis man så efterfølgende åbner en anden leg med en anden video, er det videoen fra den første der bliver vist

[2016-12-09 15:20] Pilen opened #76 "Modals 'shown' event afyres flere gange"
Ved første leg man ser afyres 'shown.bs.modal' eventet 1 gang.
Ved anden leg afyres det 2 gange, ved tredje leg 3 gange osv.

Jeg har på fornemmelsen at dette har indvirkning på (og måske er grunden til ) #74 og #75

[2016-12-09 15:23] Pilen commented on #76
Ahh, det er sku nok bare fordi jeg ender med at registrere en ny event handler hver gang istedet for at erstatte den...

[2016-12-09 15:28] Pilen commented on #76
Jep, ved at bruge .one istedet for .on virker det

[2016-12-09 15:28] #76 closed, assigned to Pilen

[2016-12-09 15:28] #74 closed, assigned to nobody

[2016-12-09 15:28] #75 closed, assigned to Pilen

[2016-12-09 15:29] Pilen opened #77 "Modals beskåret sært"
Som nævnt i #74  er der problemer med at modals bliver beskåret sært når man scroller mens den er åben i toppen af siden.

[2016-12-09 18:22] #69 closed, assigned to nobody

[2016-12-09 21:15] Pilen opened #78 "Sortering af ÆØÅ"
Lege med navne der indeholder Æ,Ø eller Å bliver ikke sorteret korrekt.
F.eks "Admiral", "Æggekast", "Afrikansk bombebold"
eller
"Nummerleg", "Øde ø-leg", "Olé + kildetunnel"

På nuværende tidspunkt er det localeCompare der bliver brugt til sammenligningen.

[2016-12-09 21:22] #78 closed, assigned to nobody

[2016-12-09 21:26] Pilen opened #79 "Ta-Ta-Fat's billede indeholder tekst"
På billedet til "Ta-Ta-Fat" står navnet i toppen af venstre hjørne, altså der hvor siden også skriver navnet, det ser fjollet ud.

[2016-12-10 22:44] peterrandorff commented on #79
Burde være klaret nu.

[2016-12-10 22:45] peterrandorff commented on #79
DET sner på legedatabasen iøvrigt. ;)

[2016-12-15 22:08] Pilen opened #80 "Vis pebernødder efter lege"
Vis først pebernødderene efter alle lege er blevet indlæst

[2016-12-15 22:11] Pilen opened #81 "Brug tegnede pebernødder"
Brug en tegnet pebernød istedet for det nuværende billede.
(Peter's ligner efter flere forespørgsler: kiks, burgerbolle, pandekage, omelet, og ikke en pebernød)

[2016-12-15 22:13] Pilen opened #82 "Mus skal ligge under legen 'mus'"
Når man trykker på en pebernød skal det åbne legen mus. Som en del af dennes beskrivelse skal legen findes.

Så pebernødderne leder en ind på legen!

[2016-12-16 18:54] #82 closed, assigned to nobody

[2016-12-17 17:30] Pilen opened #83 "Ny leg formular"
Der er allerede en Google docs formular, men det ville være nice hvis den integrerede bedre med siden

[2016-12-17 18:33] Pilen opened #84 "Jeg savner en leg - formular"
Hvis man nu har en leg som man synes skulle være i databasen, men ikke selv gider at oprette den/ikke kan huske reglerne , skal der så være en "jeg savner denne leg" underformular man kan udfylde istedet?

[2016-12-18 22:29] Pilen opened #85 "Interaktive lege"
Lige nu har vi en interaktiv leg i form af "Mus". Når man åbner denne kommer der nogle pebernødder op, og så kan man lege mus direkte i legedatabasen.
At vi så her i julen har spredt pebernøder på siden der åbner mus legen er en anden ting.

Men hvilke andre lege kunne have sådanne interaktive elementer?

Jeg overvejer om man kunne bruge et bibliotek alá [p5.js](http://p5js.org/) til at lave disse

[2016-12-23 18:00] Pilen opened #86 "Load youtube api asynkront"

[2016-12-24 00:39] Pilen opened #87 "Lege loades ikke på android default browser"
Samme browser som #65
Det er formententligt noget javascript funktionalitet der ikke virker i den browser.

Det ser ud til at det er route der fejler.

Kaldet til route i init returnerer aldrig

[2016-12-25 05:19] Pilen opened #88 "Henvis til github"
I index.html filen eller printet i consolen kunne vi godt have en henvisning til vores github repository.
Nok mest til nørder der kiggede nærmere på det tekniske og kunne finde på at give en hånd med, eller hvis de bare ville oprette et issue.

[2016-12-29 20:50] Pilen opened #89 "Service Workers (offline cache)"
Vi skal bruge [Service Workers](https://developers.google.com/web/fundamentals/getting-started/primers/service-workers) til at få siden til at virke når man ikke er offline. En anden fordel er at vi samtidigt vil kunne cache langt mere, hvilket vil betyde kortere loading tider ved efterfølgende besøg på siden

[2016-12-29 20:52] Pilen opened #90 "HTTPS"
Understøttelse af https for legedatabasen.
Normalt er det mårske ikke nødvendigt for en simpel side som vores hvor der ikke håndteres noget 'privat' data. Men for at få [service workers](https://developers.google.com/web/fundamentals/getting-started/primers/service-workers) (Se issue #89) til at virke er det krævet at [siden serveres over https](https://developers.google.com/web/fundamentals/getti

[2016-12-29 20:53] Pilen commented on #89
HTTPS er "efterfølgeren" til cache manifester #10

[2016-12-29 23:40] Pilen opened #91 "Responsive billeder"
Det ville være smart med et system til mere optimale billedestørrelser afhængigt af browserens størrelse.

En mulighed er med [srcset](https://css-tricks.com/responsive-images-youre-just-changing-resolutions-use-srcset/) attributen på <img> tagget.

Alternativt kunne man gøre noget med at man i javascript udregnede hvor store billederne skulle være og at man så satte en cookie, header, eller en qu

[2016-12-30 05:56] Pilen opened #92 "Load performance på telefon"
Sidens performance, især loadingen, på en telefon er ikke så god.

Profile det og find flaskehalsen.

Jeg oplever det på min (Android 4.4.2,  LG-D320, Chrome v55.0)

[2016-12-30 05:57] Pilen commented on #64
Ok, så @sorenmalling implementerede under landsmødet (i 910a37855366f9abe2d947a1ea268a88070daefe) lazy loading. Dette blev gjort via biblioteket [jquery-lazy](http://jquery.eisbehr.de/lazy/) som burde indlæse billeder efterhånden som de scroller ind og bliver synlige. Desværre virker det ikke så godt. Specielt på min telefon oplever jeg en del problemer med at det er langsomt og loader på en gang

[2016-12-30 06:24] #79 closed, assigned to nobody

[2016-12-30 21:07] #88 closed, assigned to Pilen

[2016-12-31 02:04] #59 closed, assigned to nobody

[2016-12-31 02:20] Pilen opened #93 "Afprøv alternative modals"
Afprøv alternative modals istedet for bootstraps

Det skal gerne afhjælpe følgende issues:
#44 #45 #77 #55

[2017-01-03 03:07] Pilen commented on #64
Et andet smart trick man kunne gøre var at legedatabasen.dk ikke startede med at vise alle lege, men f.eks. startede med en kategori af de 10 bedste eller de nyeste eller noget i den stil.
Når vi begynder at læse billederne ind starter vi med de lege der er synlige og derefter resten.
Det vil så gå relativt hurtigt at læse billederne der er nødvendige ind, og inden man har bladret videre til det m

[2017-01-31 15:59] peterrandorff opened #94 "Legekategori visning på legeopslaget"
På er legeopslag skal man udover at kunne se beskrivelsen og noter også kunne se hvilke kategorier legen tilhører.

Det tænker jeg skal gøres så der nederst lægges billeder ind af de kategorier legen tilhører.

[2017-03-16 01:17] Pilen opened #95 "Indlæs data.json tidligere"
Lige nu venter vi med at eksekvere vores javascript til siden er færdigrenderet og 'klar'.
Altså færdig som hvordan siden ser ud inden vi så laver den om i javascript og indsætter lege .
Dette er normalt en fordel da man så er sikker på at browseren har bygget dom'en/siden før man begynder at ændre den.

Men det betyder også at vi først begynder at hente data.json når siden er klar og at browseren

[2017-03-24 11:32] peterrandorff commented on #94
![image](https://cloud.githubusercontent.com/assets/23461795/24292494/dcc764e8-108d-11e7-9583-d4518147c8d1.png)

[2017-03-24 11:36] peterrandorff commented on #94
@Pilen
Jeg har lavet en grafisk visning af hvordan et legeopslag skal se ud.
Nyt der her er inkluderet:

1. "Legekategorier" for den enkelte leg.
Disse skal man kunne trykke på så man kommer ud i en søgning i denne kategori.

2.  "Lege der minder om"
Disse skal som udgangspunkt være lege i samme legekategori(er) som denne leg, hvis ikke dette er muligt skal det være de mest sete lege på legedataba

[2017-04-03 13:33] Pilen opened #96 "Erstat swiper på desktop"
Med knapper

[2017-04-03 13:47] Pilen opened #97 "Elementer"
Sørg for at elementer vises som ønsket.

[2017-04-03 13:53] Pilen opened #98 "Fix loading balloon"
Animationen er lidt funky

[2017-04-03 13:54] Pilen opened #99 "Swiper er funky"
Men kun på nogen devices

[2017-04-03 14:06] #98 closed, assigned to nobody

[2017-04-03 14:21] Pilen commented on #99
Det er åbenbart primært et problem på iphones
Det har åbenbart været rettet længe... men ikke push'et.

[2017-04-03 14:21] #99 closed, assigned to nobody

[2017-04-03 14:22] Pilen opened #100 "Elementerne og modalens overskrift skal bruge robotto"

[2017-04-03 14:27] Pilen opened #101 "Style lege description markdown"
Se f.eks. http://localhost:8080/leg/traekke-gulerod

[2017-04-03 14:54] peterrandorff opened #102 "Ændring af topfoto"
Topfoto må gerne skifte imellem 4 forskellige fotos.

Disse 4 fotos skal samtidigt være et link til hver deres leg.

1. Hurtig tovtrækning - http://legedatabasen.dk/leg/hurtig-tovtraekning
2. Sten saks papir - http://legedatabasen.dk/leg/sten-saks-papir
3. Ninja - http://legedatabasen.dk/leg/ninja
4. Trække gulerod - http://legedatabasen.dk/leg/traekke-gulerod

Billeder kan downloades her:
https:/

[2017-04-03 15:12] peterrandorff opened #103 "Filmvisning"
Videoerne virker ikke i opslagene.

fx. Afrikansk bombebold

[2017-04-03 15:16] peterrandorff opened #104 "Søgning på video"
Hvis man søger på "video" eller "film"

så skal der kommer de lege op der har en video tilknyttet.

[2017-04-03 15:24] peterrandorff opened #105 "Ændrer rækkefølgen af legekategorier i swiperen"
Legekategorierne må gerne blive ændret til dette:

![image](https://cloud.githubusercontent.com/assets/23461795/24616780/5e6fd10e-1892-11e7-992c-005bfe72b508.png)

[2017-04-03 15:38] peterrandorff opened #106 "Kategorisøgning som element."
Når man har scrollet ned i sit feed af lege kunne det være fedt at derindimellem kommer forslag op til at filtrere ens søgning.

dvs. at der løbende kan komme et element der ikke en leg men istedet en knap der filtrerer efter dette.

Se eksempel herunder:

![image](https://cloud.githubusercontent.com/assets/23461795/24617471/451063b6-1894-11e7-9fc2-40a64d509894.png)

[2017-04-03 16:22] Pilen opened #107 "Swiper slideTo start viser ikke repeat"
`category_swiper.slideTo(1);`
Viser Gemmeleg centreret, med Sanselege til venstre, men der er ikke nogen lege før dette da de 'sidste' lege fra listen ikke gentages i starten.

Man kan ikke umiddelbart bruge `category_swiper.init()` da dette sætter nuværende slide til `initialSlide` - altså "Alle lege"

Det er en fejl fra swiper bibliotekets side.

[2017-04-03 16:27] Pilen opened #108 "Lege der minder om"
Se #94

[2017-04-03 16:27] Pilen commented on #94
Legekategorier lavet

[2017-04-03 16:27] #94 closed, assigned to nobody

[2017-04-03 17:04] peterrandorff opened #109 "PDF funktion"
Der skal laves en knap i bunden af modalet - hvor der står PDF.

Når man trykker på denne kommer der en printvenlig PDF op af legebeskrivelsen.

[2017-04-03 17:06] Pilen opened #110 "Kategorier i modal skal have titel som i swiper"

[2017-04-03 17:45] Pilen commented on #108
Der er noget indledende kode, men kombinationen af media queries og breden på modals går lidt i kage.

[2017-04-03 17:47] #8 closed, assigned to nobody

[2017-04-03 17:48] peterrandorff commented on #109
[Trække Gulerod.pdf](https://github.com/Pilen/legedatabasen/files/890879/Traekke.Gulerod.pdf)

[2017-04-03 17:49] peterrandorff commented on #109
PDF må gerne være på to sider.
Legedatabasen logo skal være på begge sider.
Husk sidetal.

[2017-04-03 17:50] Pilen commented on #96
Se #42

[2017-04-04 06:30] Pilen opened #111 "Genereal refactor"
Koden er ved at være lidt rodet, det kunne godt betale sig at rydde op og rykke lidt rundt på tingene.

[2017-04-04 06:55] Pilen opened #112 "Merge koden fra Jens"
Merge koden Jens lavede til arbejdsdagen med master.
Test den på både telefon og browser.
Det er vigtigt at der også testes med en gammel android browser da der er lavet en del ting med css calc (se #65)

[2017-04-05 14:45] Pilen opened #113 "Kategori state glemmes"
Når man går ind på en leg, går til en af dens kategorier, så kommer man til den rigtige kategori.
Hvis man så lukker legen, og åbner en ny og lukker denne nye, så føres man til "Alle lege".

[2017-04-05 15:18] Pilen opened #114 "Kig på Varnish"
Til caching på backend

[2017-04-05 17:24] Pilen opened #116 "Test i gamle browsere"
F.eks. Androids gamle der ikke understøtter calc eller flexbox eller noget som helst.

Se #65 og #87

[2017-04-05 17:24] Pilen commented on #112
Se #116

[2017-04-05 17:24] #112 closed, assigned to Pilen

[2017-04-05 19:29] Pilen opened #117 "Video ikon"
Skal være youtubes icon

[2017-04-05 21:50] Pilen opened #118 "Rækkefølge af kategorier"
Hvad skal rækkefølgen af kategorier være?
Dette gælder både rækkefølgen i swiperen, samt den i selectoren.

[2017-04-06 00:33] peterrandorff commented on #118
![image](https://cloud.githubusercontent.com/assets/23461795/24732444/4d8a287c-1a71-11e7-8769-4f50a02ab2b1.png)
![image](https://cloud.githubusercontent.com/assets/23461795/24732450/5626ccf6-1a71-11e7-87be-df243ce908e7.png)

[2017-04-06 00:33] peterrandorff commented on #118
øverst er swiperen nederst selectoren

[2017-04-06 00:53] Pilen opened #119 "Kategorier i elmenter"
Når vi viser kategorier i elementer, både hvis der mangler et billede samt i teaseren viser vi altid den første kategori i listen af tilknyttede kategorier.

Men vi burde have en form for rangeret liste over kategorierne, så den første passer bedst, den anden næstbedst osv. Lige nu tror jeg det er lidt tilfældigt fra contentfuls side af?

Så kan billedet f.eks. altid være for den bedst passende ka

[2017-04-06 00:55] Pilen commented on #113
Det sker tilsyneladende altid lige nu, og det sker lige når man åbner en leg...
Det skal fikses hurtigst muligt!

[2017-04-06 09:08] Piltoft commented on #119
Pt. er contentful bygget op, så den mest passende kategori kommer først, så det er vel fint.

[2017-04-06 10:26] Piltoft opened #120 "Legedatabasen opdaterer ikke når jeg committer en ny css?"

[2017-04-06 10:34] peterrandorff commented on #119
Enig med Jens, den måde vi oprindeligt kategoriserede alle legene i contentful var med en primær, sekundær og evt. tertiær legekategori ved at lægge den primære øverst.

Fx. Belgisk bankebøf:
<img width="925" alt="skaermbillede 2017-04-06 kl 12 33 58" src="https://cloud.githubusercontent.com/assets/23461795/24749957/5e6ff00a-1ac5-11e7-9e95-7cb7667c4551.png">

og sådan ser det også ud til at den gø

[2017-04-06 10:58] peterrandorff opened #121 "Om siden skal se sådan her ud:"
![ldb om 001](https://cloud.githubusercontent.com/assets/23461795/24751117/a830b230-1ac8-11e7-92ab-38ba57545930.jpeg)

Den skal åbnes som modal når man trykker på den gule ballon, som vises i højre padding på enheder over 1000 pixel.

[2017-04-06 11:08] peterrandorff commented on #121
Billedet og teksten findes herunder

![ldb om siden](https://cloud.githubusercontent.com/assets/23461795/24751497/1aee588a-1aca-11e7-8d2d-1bf146b1c4a8.jpg)

[LDB om siden.docx](https://github.com/Pilen/legedatabasen/files/902329/LDB.om.siden.docx)

[2017-04-06 15:05] Pilen commented on #120
Det kræver at varnish cachen flushes først.
Der ligger et script kaldet flush_cache.sh (til linux) ellers kan man besøge urlen
http://legedatabasen.dk/?ban_all_cache=1

[2017-04-06 15:05] #120 closed, assigned to Pilen

[2017-04-06 15:08] Pilen commented on #96
Jeg mangler:

* Sørg for at kategorierne om fordeles pænt på mindre skærme, jeg burde nok bare bruge flexbox.
* Vælg 'alle' fra start.
* Sørg for at der kun vises én af delene, enten swiper eller selector.
* Synkroniser korrekt mellem de to.

[2017-04-06 15:11] Pilen opened #122 "Søgning uden delay"
Lige nu står søgemaskinen for at delaye (så når der tastes køres kun én søgning lidt efter man har tastet.

Men der mangler en mulighed for at søge med det samme, f.eks. når man bruger swiperen, eller selectoren.

[2017-04-06 15:12] #103 closed, assigned to nobody

[2017-04-06 15:12] #114 closed, assigned to nobody

[2017-04-06 15:13] Pilen commented on #114
Varnish er i brug nu.

[2017-04-06 20:37] Pilen opened #123 "Loading af billeder for direkte åbnede lege"
Den rammer "not yet ready" uendeligt mange gange da der ikke er lavet en ranking endnu.

Den skal hente det specifikke lege billede før andre

[2017-04-06 20:42] Pilen opened #124 "Swiper indikator virker ikke"
Når man klikker på de små prikker under swiperen så bladrer den swiperen, men opdaterer ikke de viste lege.

[2017-04-06 20:43] Pilen opened #125 "Swiper hænger mellem to slides på ios"

[2017-04-06 21:03] Pilen opened #126 "Filtre og kategorier"
Lige nu kan man fra filtrene ikke kigge nærmere på kategorier. Og fra kategori visningen kan man kun se én kategori af gangen.
Når man bruger filtre er det nok typisk fordi man gerne vil have noget meget specifikt.
Hvad nu hvis man neden under filteboksen viste selector boksen, men istedet for at man kun kan vælge én, kan man vælge så mange man vil. Så kan man finde lege der tager 10 minutter for

[2017-04-06 21:07] #110 closed, assigned to nobody

[2017-04-06 21:08] #97 closed, assigned to nobody

[2017-04-06 21:13] Pilen commented on #100
Det er en grim font til overskrifter men det er blevet bestemt fra oven at roboto skal blive brugt til overskrifter istedet for Lilita

[2017-04-06 21:13] #100 closed, assigned to nobody

[2017-04-06 21:39] Pilen opened #127 "Refactor states"
Der skal bruges en stak af states, der skal være 3 grundliggende operationer, push et nyt state, replace det nuværende state med et nyt, og pop til det tidliger state. Der skal også huskes det nuværende (som så vil være det forrige) state.
Man kan måske nøjes med at bruge history API'et uden at skulle holde styr på en stak selv. Men det skal gøres explicit.

Se også #111 og #113

[2017-04-06 21:51] Pilen opened #128 "Footer"
Skal siden have en 'footer'?
Altså en bar i bunden, her kan 'om ballonen' f.eks. altid vises så man kan se den på telefon/tablets og undgår at folk ser den i marginen.

Der kan også være et mere tydeligt FDF ikon (hvis nødvendigt) samt et tak til legedatabaseudviklerslaveudvalget eller noget i den stil, kontakt os her osv.

Så kan der starte med at være en "Hej, vi kan se at du bruger en browser d

[2017-04-07 09:13] Piltoft commented on #125
Det er ikke et problem på ipad, men kun på iphone. Hvad jeg kan læse mig til så skyldes det hvordan slideren initialiseres under JQM

[2017-04-07 09:45] Piltoft commented on #125
Har lavet et midlertidigt fix ved at fjerne display:none; på #container

[2017-04-07 11:23] Piltoft commented on #125
Nu virker det! der er tilføjet 1ms delay på swiper init

[2017-04-07 11:23] #125 closed, assigned to nobody

[2017-04-07 15:34] Pilen commented on #125
Jeg kunne godt tænke mig at undersøge om det er delayet der gør forskellen, eller om det er kombinationen af at vise `#container` først og kalde `.init` til sidst.
Men det kan vi altid afprøve en anden dag (efter påske).

[2017-04-07 15:41] Piltoft commented on #125
Jeg tror jeg har prøvet alle kombinationer og er 95% sikker på at det er delayet der fikser det.

[2017-04-13 12:55] sorenmalling opened #129 "Fjern loading baren i toppen"
Fjern den orange loading bar i toppen.

Den venter på at alle billeder som er ude af det visuelle scope bliver hentet og giver en følelse af at det er meget langsomt. I virkeligheden er "ballonen" den reelle indikator.

[2017-04-13 19:27] Pilen opened #130 "Undgå lazy loading af lokalt cachede billeder"
Når siden allerede har været loadet før, tror jeg faktisk at der er et størrere overhead af at have hele lazyloadingen, end ved bare at inkludere dem.

Det ville være fedt at have en måde at afgøre om billederne allerede ligger i cachen eller ej og så bygge legene på den ene eller anden måde efter dette.

[2017-04-13 19:27] Pilen commented on #129
Jeg har også tænkt over det.
Jeg tænker også i virkeligheden at jeg nok skal kigge lidt på hele lazy loadingen igen. Se #130

[2017-04-19 08:48] Pilen opened #131 "Filtres state nulstilles ikke korrekt"
Åben filtermenuen
filtrer (f.eks. 30+, 60 min, 13+, Stor)
luk filtermenuen
åben filtermenuen igen
Alle filtrene er vist som fravalgt
Hvis man klikker f.eks. 5+ så vælges denne med det samme.
Men vælges en af de tidligere valgte så skal man klikke to gange

[2017-04-19 08:54] Pilen commented on #127
Jeg er forresten stadig igang med dette issue, det var et lidt størrere arbejde end først antaget og har betydet at der er foretaget et par størrere omskrivninger af hele kontrolflowet på siden.

Men det har været manglet, koden som den var, var blevet ret svær at rette og skjulte flere fejl som nu er ved at blive meget lettere at finde og rette.

Lige nu er min refactoring branch stortset lige så

[2017-04-20 06:30] sorenmalling opened #132 "Lav dns-prefetch på statiske ting"
@andersf har oprettet flg. dns

static-assets.legedatabasen.dk som A record pegende til 37.49.143.183
static-fonts.legedatabasen.dk som A record pegende til 37.49.143.183
static-images.legedatabasen.dk som A record pegende til 37.49.143.183
static-scripts.legedatabasen.dk som A record pegende til 37.49.143.183

Implementer dns-prefetch for de forskellige typer assets og skift adressen på i det ren

[2017-04-20 06:38] sorenmalling opened #133 "Opret udviklings miljø til Jens"
Jeg har bedt @andersf om at lave en dns for

*.dev.legedatabasen.dk og åbne for en ny port i firewallen, som går uden om varnish

Når det kommer tilbage skal der oprettes udviklings miljø til @Piltoft

[2017-04-20 18:58] Pilen opened #134 "Google Analytics skal kun rapportere fra legedatabasen.dk"
Lige nu virker det til at der rapporteres også fra ens lokale maskine mens man sidder og udvikler.
Så når jeg besøger localhost:8080/leg/10-sekunder sendes der et event til GA.

[2017-04-24 21:07] Pilen opened #135 "Fallback løsning for youtube"
Youtube.com er lige nu vores eneste eksterne afhængighed. Det drejer sig både om det script vi loader fra index.html `https://www.youtube.com/iframe_api` der prøver asynkront at loade et andet script fra youtube. Samt selve videoerne.

Hvis ikke der er forbindelse til youtube.com af en eller anden grund skal den bare forsøge at vise et billede istedet.

Se også #86

[2017-04-25 12:36] Pilen commented on #124
https://github.com/nolimits4web/Swiper/issues/2088

[2017-04-25 13:46] Pilen commented on #102
Skal hele billedet være et link, eller skal der være en knap, evt. Noget lidt mere diskret der vises ved når man har cursoren i toppen?

Det jeg måske kan frygte er at folk tænker at når man trykker på topbilledet så føres man til forsiden, især når der står "legedatabasen.dk" hen over det.

[2017-04-25 13:53] peterrandorff commented on #102
Jeg har ikke lige den gode idé til hvordan det skulle være ellers. Gør dem bare til et link til legene lige nu, det centrale er bare at top billedet skifter.

[2017-05-06 00:07] #131 closed, assigned to Pilen

[2017-05-06 00:07] #127 closed, assigned to Pilen

[2017-05-06 00:07] #123 closed, assigned to nobody

[2017-05-06 00:08] #113 closed, assigned to nobody

[2017-05-06 00:08] #134 closed, assigned to nobody

[2017-05-06 00:10] #95 closed, assigned to nobody

[2017-05-06 00:10] #86 closed, assigned to nobody

[2017-05-06 00:12] #55 closed, assigned to nobody

[2017-05-07 13:47] Pilen opened #136 "Gør kategorivælgerknapperne pænere"
Det er noget med at lege med CSS for kategorivælgerknapperne på desktopversionen.
Lige nu beskæres de f.eks. lidt skidt på en for lille skærm.

(Efterfølger til issue #96)

[2017-05-07 15:41] Pilen opened #137 "Automatisk rapportering af fejl"
Det ville måske være en idé med en service i backenden som siden kan kontakte hvis der sker en fejl, så kan der videresendes en besked til os om at der er gået noget galt.
Det kunne f.eks. være hvis en 404 side bliver ramt, så sendes der automatisk en mail til os, så kan vi undersøge hvad der muligvis er gået galt.

[2017-05-07 16:16] Piltoft commented on #96
Der er problem på iOS iPhone

[2017-05-07 16:18] Piltoft commented on #96
![img_0549](https://cloud.githubusercontent.com/assets/23454261/25782789/7eb6fe36-3351-11e7-936a-c09fa27428cc.PNG)

[2017-05-07 16:32] peterrandorff commented on #96
Der er også et problem på min desktop version:

<img width="1440" alt="skaermbillede 2017-05-07 kl 18 32 56" src="https://cloud.githubusercontent.com/assets/23461795/25782934/8730b35c-3353-11e7-9e91-b16c21474c9f.png">

[2017-05-07 16:35] Pilen commented on #96
Havde ikke fået flushet varnish cachen så den serverede en ældre (midlertidig) udgave af CSS'en, nu burde det virke igen

[2017-05-07 16:55] peterrandorff commented on #96
Er det muligt at du kan lave den sådan her når man kommer ind på siden:

<img width="1440" alt="skaermbillede 2017-05-07 kl 18 53 18" src="https://cloud.githubusercontent.com/assets/23461795/25783076/5a455bd8-3356-11e7-8b7a-3c1c6fb8ec83.png">

Sådan her når man bare har valgt en enkelt leg:

<img width="1440" alt="skaermbillede 2017-05-07 kl 18 54 15" src="https://cloud.githubusercontent.com/asset

[2017-05-07 17:08] peterrandorff commented on #136
Duplikat af https://github.com/Pilen/legedatabasen/issues/96#issuecomment-299719126

[2017-05-07 17:25] Piltoft commented on #96
![img_0551](https://cloud.githubusercontent.com/assets/23454261/25783327/c2f7ddf0-335a-11e7-89e3-263eb30210bb.PNG)
På iOS iPhone står den bare og loader med ballonen og kommer aldrig videre.

[2017-05-07 19:38] Pilen opened #138 "Legedatabasen fejler på iOS/IPhone"
Se https://github.com/Pilen/legedatabasen/issues/96#issuecomment-299720976

[2017-05-07 20:26] Pilen opened #139 "Kategorivælgeren på desktop som checkboxes"
Se https://github.com/Pilen/legedatabasen/issues/96#issuecomment-299719126
He he, hvorfor undrer det mig ikke at der nu ønskes noget andet igen ;)
Jeg opretter det lige her som et nyt issue for at #96 ikke bliver for kludret (det er trods alt en erstatning for denne der ønskes).

Lige nu fungerer både swiperen og knapperne som et grafisk interface til den samme underliggende mekanik. Begge dele kø

[2017-05-07 20:55] peterrandorff commented on #139
Først og fremmest: HOLD KÆFT HVOR GØR DU DET GODT PIL!
Jeg har så sindsygt meget respekt og glæde i kroppen hvor det arbejde du gør! Du gør det virkeligt fedt at arbejde med det her!

For at forsvare det her forslag så er det det jeg grafisk har arbejdet med fra starten af og ikke decideret en helt ny version. Jeg har fuld forståelse for at det er noget der er svært og uhensigtsmæssigt at gå igang

[2017-05-07 20:55] gaardee commented on #137
Mesterskabet.dk bruger https://github.com/getsentry/raven-js

2017-05-07 17:41 GMT+02:00 Søren Pilgård <notifications@github.com>:

[2017-05-07 20:56] Piltoft commented on #139
Jeg synes det er nogle rigtig gode pointer du har Pil og tror faktisk du har ret i at funktionaliteten skal være den samme. Kan du udtænke en logisk at have 2 rækker af 5 kategorier som i Peters design og så stadig have mulighed for at vælge alle lege? Til Peter: kan du lave et design med 11 kategori knapper? Altså 10 + ballon?

[2017-05-07 20:57] peterrandorff commented on #139
1 minut for sent jens ;)

[2017-05-07 20:58] Piltoft commented on #139
Jeg støtter op om Pils pointer og Peters løsning herpå

[2017-05-08 19:19] #105 closed, assigned to nobody

[2017-05-08 19:48] Pilen commented on #139
Jeg har ændret det så det nu passe mere med billedet, vi kan selvfølgelig altid tweake på mængden af mellemrum mellem tingene samt hvor store de skal være i forhold til vinduet.
Jeg antager at det er rækkefølgen fra sidste billede der er den korrekte og lukker derfor issue #118.

Jeg tænker at jeg kan prøve at implementere #126 for at se hvordan det virker, og så kan vi derfra vælge om det også er

[2017-05-08 19:49] #118 closed, assigned to Piltoft, peterrandorff

[2017-05-08 20:30] Pilen commented on #96
Da de resterende ting omkring kategorivælgeren har fået deres egne issues, og selve funktionaliteten virker, så lukker jeg dette issue for at rydde lidt op

[2017-05-08 20:30] #96 closed, assigned to nobody

[2017-05-08 20:32] Pilen commented on #138
@Piltoft Har du nogen mulighed for at åbne en debugger eller en javascript consol i browseren hvor problemet sker?

Ellers må jeg prøve at lave noget magi for at logge hvad der sker på en synlig måde

[2017-05-08 20:48] Piltoft commented on #138
![img_0553](https://cloud.githubusercontent.com/assets/23454261/25824609/5617edf6-3440-11e7-8907-c9521d56103e.JPG)
Får kun dette i konsollen på iPhone

[2017-05-08 20:51] Pilen commented on #138
Hvad hedder browseren præcist inklusiv version?

[2017-05-08 20:57] Piltoft commented on #138
Safari til iOS 10.3.1

[2017-05-08 21:08] Piltoft commented on #138
Det sker på samtlige browsere på iOS. Tror det hænger sammen med at den ikke kan fjerne ballonen

[2017-05-08 21:21] Pilen commented on #138
Hvad siger den nu?

[2017-05-08 21:30] Piltoft commented on #138
![img_0554](https://cloud.githubusercontent.com/assets/23454261/25826222/4bd8187e-3446-11e7-8ef7-585395050ff3.JPG)

[2017-05-08 21:37] Pilen commented on #138
og en gang til?
remote debugging er feeeedt.

[2017-05-09 04:18] Piltoft commented on #138
![img_0555](https://cloud.githubusercontent.com/assets/23454261/25835459/45dbbf96-347f-11e7-9592-830b917569a1.JPG)

[2017-05-09 08:26] Pilen commented on #102
Hold da op de er store, jeg laver lige en lidt mindre udgave.
Her er en oplagt mulighed for at bruge #91 til at skallere ned pr. enhed

[2017-05-09 10:31] #102 closed, assigned to nobody

[2017-05-09 10:58] Pilen commented on #138
Mer!

[2017-05-09 11:08] peterrandorff commented on #138
Ved ikke om det hjælper at få den fra mig.

Dette er gjort i google chrome på macbook pro.

<img width="1440" alt="skaermbillede 2017-05-09 kl 13 08 05" src="https://cloud.githubusercontent.com/assets/23461795/25847948/88bae38a-34b8-11e7-95ef-e5d007d857a0.png">

[2017-05-09 11:26] peterrandorff commented on #138
har fået instruks fra jens der kommer helt frisk debugging her nu:

Iphone 6
Safari

<img width="1440" alt="skaermbillede 2017-05-09 kl 13 26 41" src="https://cloud.githubusercontent.com/assets/23461795/25848545/1e27ab90-34bb-11e7-887d-03f21d9b9304.png">

[2017-05-09 11:32] peterrandorff commented on #138
Den virker lige nu på chrome på min macbook helt perfekt men der er problemer med safari på macbook.

Macbook pro
Safari

<img width="1440" alt="skaermbillede 2017-05-09 kl 13 32 06" src="https://cloud.githubusercontent.com/assets/23461795/25848733/e768af90-34bb-11e7-80f8-70bf10675046.png">

[2017-05-09 11:36] Pilen commented on #138
Jeg tilføjer mere og mere output så vi langsomt kan finde frem til fejlen, så prøv at give et til.

[2017-05-09 11:40] peterrandorff commented on #138
Macbook pro
Safari

<img width="1440" alt="skaermbillede 2017-05-09 kl 13 40 08" src="https://cloud.githubusercontent.com/assets/23461795/25848964/e885bea8-34bc-11e7-9e54-6652779858bb.png">

Iphone 6
Safari

<img width="1440" alt="skaermbillede 2017-05-09 kl 13 41 01" src="https://cloud.githubusercontent.com/assets/23461795/25849002/02917f3a-34bd-11e7-8f56-23320da3d468.png">

[2017-05-09 11:40] peterrandorff commented on #138
Jeg har her tømt browser data inden jeg opdaterede.

skal jeg bliver ved med at gøre dette?

[2017-05-09 11:50] Pilen commented on #138
Det ser ud til at problemet muligvis er i swiperen, prøv igen

[2017-05-09 11:55] peterrandorff commented on #138
Iphone 6
safari

<img width="1440" alt="skaermbillede 2017-05-09 kl 13 55 26" src="https://cloud.githubusercontent.com/assets/23461795/25849501/0c5e9aa0-34bf-11e7-8f3c-41de77ae24ec.png">

Macbook pro
Safari

<img width="1440" alt="skaermbillede 2017-05-09 kl 13 54 48" src="https://cloud.githubusercontent.com/assets/23461795/25849500/0c5dfe10-34bf-11e7-900e-0e2aeac56f64.png">

[2017-05-09 11:56] peterrandorff commented on #138
Nu er der også samme fejl på chrome

[2017-05-09 12:04] Pilen commented on #138
Hov ja, det var min fejl. prøv igen.

[2017-05-09 12:06] peterrandorff commented on #138
<img width="1440" alt="skaermbillede 2017-05-09 kl 14 06 47" src="https://cloud.githubusercontent.com/assets/23461795/25849905/a0dd940a-34c0-11e7-8795-facc86a81fa9.png">

<img width="1440" alt="skaermbillede 2017-05-09 kl 14 06 30" src="https://cloud.githubusercontent.com/assets/23461795/25849904/a0dcbb66-34c0-11e7-898f-772da6751071.png">

[2017-05-09 12:06] peterrandorff commented on #138
samme problem alle steder

[2017-05-09 12:10] Pilen commented on #138
What? prøv lige igen, har flushet cachen et par gange igen.

[2017-05-09 12:12] peterrandorff commented on #138
<img width="1440" alt="skaermbillede 2017-05-09 kl 14 12 34" src="https://cloud.githubusercontent.com/assets/23461795/25850148/74b259a0-34c1-11e7-8fad-bf4a81810bb7.png">

<img width="1440" alt="skaermbillede 2017-05-09 kl 14 12 15" src="https://cloud.githubusercontent.com/assets/23461795/25850149/74e8b8ba-34c1-11e7-8b92-fdb5cd71d496.png">

[2017-05-09 12:12] peterrandorff commented on #138
Chromer virker fint nu.

[2017-05-09 12:19] Pilen commented on #138
Jeg har på fornemmelsen det her ville være meget nemmere hvis jeg havde adgang til en mac, men prøv igen

[2017-05-09 12:24] peterrandorff commented on #138
<img width="1440" alt="skaermbillede 2017-05-09 kl 14 25 15" src="https://cloud.githubusercontent.com/assets/23461795/25850597/32256efe-34c3-11e7-84d7-7a2ced70967a.png">
<img width="1440" alt="skaermbillede 2017-05-09 kl 14 25 03" src="https://cloud.githubusercontent.com/assets/23461795/25850598/3226fc24-34c3-11e7-9444-1a25586309c7.png">

[2017-05-09 12:37] Pilen commented on #138
igen

[2017-05-09 12:39] peterrandorff commented on #138
<img width="1440" alt="skaermbillede 2017-05-09 kl 14 40 13" src="https://cloud.githubusercontent.com/assets/23461795/25851235/48568a08-34c5-11e7-8c64-0b75c92a3fb9.png">
<img width="1440" alt="skaermbillede 2017-05-09 kl 14 40 03" src="https://cloud.githubusercontent.com/assets/23461795/25851234/4854d5f0-34c5-11e7-898f-31ca5c929e23.png">

[2017-05-09 12:46] Pilen commented on #138
igen.

[2017-05-09 12:49] peterrandorff commented on #138
<img width="1440" alt="skaermbillede 2017-05-09 kl 14 50 20" src="https://cloud.githubusercontent.com/assets/23461795/25851602/b17840c0-34c6-11e7-9d42-9f9387126d79.png">
<img width="1440" alt="skaermbillede 2017-05-09 kl 14 50 07" src="https://cloud.githubusercontent.com/assets/23461795/25851603/b1794eac-34c6-11e7-8606-62b1f6c87f3f.png">

[2017-05-09 13:00] Pilen commented on #138
`comparison of 5 !== 5 ==> true`
Så 5 er ikke 5?! Det ligner grangiveligt en typefejl.
prøv lige igen

[2017-05-09 13:06] peterrandorff commented on #138
<img width="1440" alt="skaermbillede 2017-05-09 kl 15 07 37" src="https://cloud.githubusercontent.com/assets/23461795/25852282/1cfa5c3c-34c9-11e7-8ab4-11118b4fab6c.png">
<img width="1440" alt="skaermbillede 2017-05-09 kl 15 07 26" src="https://cloud.githubusercontent.com/assets/23461795/25852284/1d29eb64-34c9-11e7-954c-a89d0cfec710.png">

[2017-05-09 13:15] Pilen commented on #138
Ja såmænd! I Safari er swiperens `realIndex` er en streng og ikke et tal.
Det er tilsyneladende en fejl i Safari eller Swiper biblioteket, yay!

Det er rettet ved at altid konvertere til et tal.

Prøv at se om det virker nu.

[2017-05-09 13:20] peterrandorff commented on #138
hmm

<img width="1440" alt="skaermbillede 2017-05-09 kl 15 20 53" src="https://cloud.githubusercontent.com/assets/23461795/25852825/fb1d0888-34ca-11e7-9813-e7626a9fc517.png">
<img width="1440" alt="skaermbillede 2017-05-09 kl 15 20 13" src="https://cloud.githubusercontent.com/assets/23461795/25852824/faf75692-34ca-11e7-9321-7b2b0aca7ffe.png">

[2017-05-09 13:32] Pilen commented on #138
Det var mærkeligt, prøv nu.

[2017-05-09 13:35] peterrandorff commented on #138
<img width="1440" alt="skaermbillede 2017-05-09 kl 15 36 02" src="https://cloud.githubusercontent.com/assets/23461795/25853442/14d3ecc2-34cd-11e7-9e6a-2252e04f9709.png">
<img width="1440" alt="skaermbillede 2017-05-09 kl 15 35 38" src="https://cloud.githubusercontent.com/assets/23461795/25853443/14d650d4-34cd-11e7-98fa-5fa6a278f85e.png">

[2017-05-09 13:41] Pilen commented on #138
igen

[2017-05-09 13:44] peterrandorff commented on #138
<img width="1440" alt="skaermbillede 2017-05-09 kl 15 45 28" src="https://cloud.githubusercontent.com/assets/23461795/25853854/67267d22-34ce-11e7-86e1-1647bdecb0b4.png">
<img width="1440" alt="skaermbillede 2017-05-09 kl 15 44 38" src="https://cloud.githubusercontent.com/assets/23461795/25853853/67250ad2-34ce-11e7-919d-f1eb058fe54b.png">

[2017-05-09 13:52] Pilen commented on #138
igen

[2017-05-09 13:57] peterrandorff commented on #138
<img width="1440" alt="skaermbillede 2017-05-09 kl 15 58 20" src="https://cloud.githubusercontent.com/assets/23461795/25854418/318f01a0-34d0-11e7-9edb-6ce5129c22ca.png">
<img width="1440" alt="skaermbillede 2017-05-09 kl 15 57 59" src="https://cloud.githubusercontent.com/assets/23461795/25854423/3379227a-34d0-11e7-8499-0a9b3669edf7.png">

[2017-05-09 14:07] Pilen commented on #138
Gad vide om Emil får en mail for hver kommentar? I så fald er jeg bange for at Jens og jeg bliver sat på puslinge til næste år.

Kan du ikke prøve igen Peter?

[2017-05-09 14:13] peterrandorff commented on #138
<img width="1440" alt="skaermbillede 2017-05-09 kl 16 13 37" src="https://cloud.githubusercontent.com/assets/23461795/25855044/5cd46a2e-34d2-11e7-83e2-37da9904e4f0.png">

<img width="1440" alt="skaermbillede 2017-05-09 kl 16 12 37" src="https://cloud.githubusercontent.com/assets/23461795/25855042/5ba5af32-34d2-11e7-8a82-b232e2ceba53.png">

Tror Emil har slået fra for længst ;)

[2017-05-09 14:21] Pilen commented on #138
Ahhh, det er fordi der er en fejl i jQuery query'en! Chrome er simpelthen for flink og lurer godt at når jeg mangler en slutklamme `]` så skulle den nok have været der.

Og her ser vi problemet med ["robustheds principet"/Postels lov](https://en.wikipedia.org/wiki/Robustness_principle) der siger *"Be conservative in what you do, be liberal in what you accept from others"*.
Da Safari ikke er 'liber

[2017-05-09 14:24] peterrandorff commented on #138
BOOM!!

Og så virker det!

[2017-05-09 14:26] Pilen commented on #138
Lækkert, så to fejl på Mac/iOS, og nu kan jeg så gå igang med at fjerne de 100 debug print.

[2017-05-09 14:49] Piltoft commented on #138
Peter var lidt for hurtig, alt lader til at virke, men swiperen opdaterer ikke resultaterne

[2017-05-09 16:08] Pilen commented on #138
NOOOoooo

[2017-05-09 16:09] Pilen commented on #138
Sker der noget når man swiper? Eller er den bare statisk, eller hopper den bare tilbage på hvor den kom fra?

[2017-05-09 16:12] peterrandorff commented on #138
Den swiper helt normalt som den skal. Den reorganiserer bare ikke legen efter kategorierne

[2017-05-09 20:56] Pilen commented on #138
skriver den noget ud når i swiper?

[2017-05-09 21:24] peterrandorff commented on #138
Når du siger skriver ud hvad mener du så?

[2017-05-09 21:34] Pilen commented on #138
I konsolen, lige som de billeder du uploadede før. Alle de linjer der er skrevet som "debug: bla bla" er tekst jeg spytter ud rundt omkring i koden. På den måde kan jeg manuelt følge med i hvordan koden opfører sig og hvad der bliver kørt i hvilken rækkefølge, og endnu mere, fortæller det også hvad der *ikke* bliver kørt.

Så hvis du åbner siden, og så swiper en gang til siden og tager et screensh

[2017-05-09 21:37] peterrandorff commented on #138
<img width="1440" alt="skaermbillede 2017-05-09 kl 23 38 44" src="https://cloud.githubusercontent.com/assets/23461795/25873911/82b5ebb2-3510-11e7-947a-66417f908271.png">

[2017-05-09 21:38] peterrandorff commented on #138
<img width="1440" alt="skaermbillede 2017-05-09 kl 23 39 27" src="https://cloud.githubusercontent.com/assets/23461795/25873931/9aa998a4-3510-11e7-82bf-dd51f5715a0d.png">

[2017-05-09 22:08] Pilen opened #140 "Nuværende git commit"
Kunne vi have en url hvor man kan tilgå nuværende commit data.
`git log -1 --format='{short:"%h", long:"%H", author:"%an", date:"%aD", subject:"%s", body:"%b"}'`
På en url som f.eks. `legedatabasen.dk/git.json`

Denne fil skal *også* caches af varnish. På den måde kan jeg lettere sikre mig at det er den korrekte og nyeste version der arbejdes med.

[2017-05-09 22:43] Pilen commented on #138
virker det nu?

[2017-05-10 05:02] Piltoft commented on #138
Nej, det er tilsyneladende SwipeChangeEnd der kun sjældent kører

[2017-05-10 06:13] peterrandorff commented on #138
Det virker for mig på både Chrome og safari iPhone.

Tror du skal slette cookies Jens.

[2017-05-10 06:16] Piltoft commented on #138
Jeg tier stille, det virker tilsyneladende også for mig nu

[2017-05-10 12:02] #138 closed, assigned to nobody

[2017-05-10 14:46] sorenmalling opened #141 "Skift hele renderingen ud med f.eks. "Jekyll" til statisk html med markdown?"

[2017-05-10 14:47] sorenmalling commented on #141
https://jekyllrb.com/

[2017-05-10 14:47] sorenmalling commented on #141
https://jekyllrb.com/docs/datafiles/

[2017-05-10 14:56] sorenmalling commented on #140
Yeah! Det har jeg sat op nu - så det bør d have fra i morgen af

[2017-05-10 14:58] sorenmalling commented on #140
Du har det nu
http://legedatabasen.dk/git.json

[2017-05-10 14:58] #140 closed, assigned to Pilen

[2017-05-10 15:01] sorenmalling commented on #140
Opdateres hvert minut sammen med seneste commit bliver hevet ned

[2017-05-10 15:12] Pilen commented on #140
Fedt!

[2017-05-10 15:16] Pilen commented on #141
Jeg har godt overvejet at det måske er lidt overflødigt at hive legene ned som json istedet for bare at ligge som html.

Den originale tanke var at vi kunne hente lege ned uden at skulle hente hele resten af siden ned, så kunne man cache alt andet. Men hvis det virkeligt skulle fungere ville det give mening at have et helt system så vi kan sige "jeg har legene fra det her tidspunkt, send mig alt d

[2017-05-11 12:50] sorenmalling commented on #141
Ellers skal vi kigge på Ember Fastboot!! www.ember-fastboot.com

[2017-05-11 15:13] Pilen commented on #141
Jeg er ikke sikker på at det behøver at være så avanceret, det er jo "bare" at konvertere noget json til en bid HTML, en simpel løsning er et lille python script med jinja som template motor, eller måske behøver man dårligt en template model, elementerne er jo mere eller mindre ens.

(Såfremt det kun er elementerne til at klikke ind på legene der tales om)

[2017-06-05 23:02] Pilen opened #142 "Topbillede under menubar"
Indimellem starter topbilledet under menubaren

[2017-06-05 23:06] Pilen commented on #121
Hvad er pointen i både at skrive "fx kimsleg, blindebuk eller lyttelege"
og have linjen "Godt eksempel: ”Blindebuk”"
Ville det ikke være mere simpelt med bare én linje med eksempler (gerne som links)?

[2017-06-05 23:53] Pilen opened #143 "Højt CPU forbrug"
Legedatabasen bruger en hel del CPUtid. Det er nok overgangen mellem de forskellige topbilleder der blot gøres via jquerys fade metode, dermed på CPU'en.
Find en bedre løsning.

[2017-06-06 05:46] peterrandorff commented on #121
Det har du fuldkommen ret i. Du får lige en revideret tekst idag.

[2017-06-06 06:32] peterrandorff commented on #121
Jeg har ændret i teksten sådan at der kun står et enkelt godt eksempel, under hver kategori. Dette eksempel må gerne laves som link.

Flere eksempler ville undergrave konceptet om det gode eksempel på en leg i legekategorien.

[LDB om siden.docx](https://github.com/Pilen/legedatabasen/files/1054001/LDB.om.siden.docx)

[2017-07-27 23:22] Pilen commented on #143
Når man er scrollet længere ned på siden behøver man slet ikke at fade mellem billederne.

[2017-07-28 13:14] Pilen commented on #142
Jeg har en mistanke om at det sker når browser vinduet starter i en lille størrelse og headeren med topbilledet derfor ikke bliver vist, hvis så man gør vinduet stort sker fejlen

[2017-07-28 15:38] Pilen commented on #143
Nu fades der via CSS istedet for jquerys .fadeout.
Jeg har ikke gjort noget med ikke at fade når der er scrollet, hvis det er nødvendigt kan jeg kigge på det igen.

[2017-07-28 15:38] #143 closed, assigned to nobody

[2017-07-29 14:19] Pilen commented on #142
Jep, det handler om at højden er 0 når billedet ikke er vist.

[2017-07-29 14:19] #142 closed, assigned to nobody

[2017-07-30 16:49] #121 closed, assigned to nobody

[2017-07-30 22:39] Pilen commented on #124
Jeg har lavet et workaround.

[2017-07-30 22:39] #124 closed, assigned to nobody

[2017-07-30 22:49] Pilen opened #144 "Tryk mellem swiper-pagination-bullets swiper"
På swiperen er slidesne større end selve billedet inden i, dette er et problem ned ad da det gør at hvis man kommer til at trykke lige ved siden af en pagination bullet så swiper man istedet for at trykke.
Det ville være mere praktisk hvis selve bullet'en strakte sig ud, på den måde ville det være nemmere at trykke på dem, og man swiper alligevel ikke dernede.

[2017-07-30 22:58] Pilen commented on #117
Hov forresten, tilbage i April ændrede jeg video ikonet fra det gamle der var en filmrulle med en lille trekant, til istedet bare at være en trekant.
Helt konkret gik jeg fra ikon f407 til ikon f2a7

Man kan se ikonerne her:
http://legedatabasen.dk/icons.html

Er dette fint, eller vil I meget gerne have det rigtige youtube logo?

[2017-08-01 13:22] Pilen opened #145 "Lege med hold"
Ville det være en idé at have en form for notering af om legen er inddelt i hold?
Er det en leg beregnet til 2 hold, eller 3 hold, eller flere? Eller fungerer den med et valgfrit antal hold?

Jeg ved ikke hvor meget det skal inkorporeres i siden, om det evt. bare skal være noget man kan søge på i tekst søgningen.

Jeg tænker det kan være smart, hvis man f.eks. er ved at planlægge en aktivitet hvor

[2017-08-02 11:25] Pilen opened #146 "Sikkerhedshul i Varnish"
http://varnish-cache.org/security/VSV00001.html
http://varnish-cache.org/docs/trunk/phk/VSV00001.html

Er vi ramt?

[2017-08-02 19:21] Pilen commented on #144
Problemet opstår af at .swiper-pagination er rykket lidt op, men man kan stadig trykke på slidesne neden under.

Det kan muligvis løses ved at gøre slidesne lavere, og så få det indre billede til at fylde lidt mere af slidet. så behøver man ikke at hæve pagination delen.

[2017-08-05 01:05] Pilen commented on #116
Calc kan undgås ved at have fornuftige fallback løsninger.
[code]
Vi kan evt. have en fallback værdi pr. bredde i vores responsive opsætninger.
Jeg ved ikke lige hvad man gør med flexbox

[2017-08-27 13:01] Pilen opened #147 "Design spørgsmål om responsive elementer"
Jeg sidder med issue #57 og er ved at gennemgå CSS'en, altså hvordan siden ser ud.
Helt konkret handler det om hvordan den ser ud alt efter hvor bredt browservinduet er, og de ændringer der sker.
Jeg laver dette issue fordi vi lige skal være sikre på hvordan det skal se ud, det kan godt være at det er smartere at vente til en arbejdsdag hvor man lige kan kigge tingene igennem inden de ændres.
Men

[2017-08-27 18:42] Pilen commented on #147
Et andet åbent spørgsmål er om modalsne, lige nu den gule farve lettere gennemsigtig (0.9 og ikke 1.0). Er dette meningen?

[2017-08-27 18:45] Piltoft commented on #147
Det er nok egentlig ligemeget. Det er formenlig fra dengang den overlappede billedet mere.

[2017-08-29 17:51] Pilen opened #148 "Lege med lange navne"
Hvordan skal vi håndtere lege med lange navne?
Lige nu er der et problem med legen "Hvordan kom Joachim til skade?" som lige nu lyder til at være en intim leg for to voksne.

[2017-08-29 18:30] Pilen opened #149 "CSS vendor prefixes"
Brugen af vendor prefixes i CSS'en er ret inkonsistent. I virkeligheden burde vi fjerne dem alle sammen og så bruge noget ala [autoprefixer](https://github.com/postcss/autoprefixer) til at generere de nødvendige prefixes. Alternativt kan man sige pyt med alle de browsere der ikke understøtter standard specifikationerne, så bliver brugeroplevelsen bare lidt dårligere der.

Dette issue ligger lidt i

[2017-08-30 22:29] Pilen opened #150 "Refactor kategori visningerne"
Lige nu er html/css'en til kategorivisningerne lidt rodet.
Konkret gælder det kategorierne i swiperen, i selectoren, i legene, og på om-siden.

Dette er en forlængelse af #57 og erstatter #136

[2017-08-30 22:30] #136 closed, assigned to nobody

[2017-08-30 22:39] Pilen commented on #57
Jeg har gennemgået style.css (samt index.html og legedatabasen.js) for at ryde en del op.
Det har simplificeret en del så det nu er mere overskueligt at lave ændringer.
Der er et par små visuelle ændringer:

* Rundingerne på elementerne er blevet fikset de er lidt rundere og pænere nu.
* I søgefeltet er der en lille smule padding så man ikke skriver helt op ad venstre kant
* Ikonbaren på elemterne

[2017-08-30 22:39] #57 closed, assigned to nobody

[2017-08-31 17:26] #111 closed, assigned to nobody

[2017-09-05 15:32] Pilen commented on #20
Der er et par steder vi stadig ikke overholder design linjerne.
F.eks. er brødteksten rundt omkring stadig sort rgb(0, 0, 0) og ikke rgb(29, 29, 27).

Ligeledes er der en del steder hvor vi bruger hvid, rgb(255, 255, 255).
F.eks. til nogle ikoner, og så er der selvfølgelig baggrunden der er hvid.
Jeg ved ikke om det er meningen om vi skal bruge en lysegrå som rgb(236, 236, 232) eller rgb(228, 233,

[2017-09-05 15:49] Pilen commented on #101
Tag evt. udgangspunkt i opsætningen i "Digital overlevering, FDF webdesign".

[2017-09-05 20:19] Pilen commented on #20
Den sidste ting der ikke passer på retningslinjerne er den lille orange prik i swiperen.
Den har værdien rgb(250, 135, 0) men enten skal den være lidt mere gul rgb(249, 175, 26) eller mere rødbrun rgb(225, 83, 16). Af disse to synes jeg den gule farve passer bedst, men den er lidt 'mat' i det og falder lidt i et med de andre prikker der også er lidt matte. Så jeg synes faktisk selv at den orange v

[2017-09-06 21:05] Pilen commented on #106
Ting der kunne være i sådan et "bonus-element"
* Henvisning til en kategori
* En gruppering af lege, "Peters yndlings lege", "Lege i regnvejr"
* Dagens leg, en dagligt udvalgt tilfældig leg.

En fed ting er at gøre noget med at der er dynamiske vægte for hvad der skal komme op.
Så hvis man f.eks. søger på pebernød så er der en større chance for at der reklameres for gruppen "Julelege" og mindre fo

[2017-09-07 18:51] Pilen commented on #122
Jeg har fikset dette nu, det gør hele oplevelsen af legedatabasen markant bedre.
Før var der et halvt sekunds pause hver eneste gang man ændrede søgeindstilingerne + den tid det tager at udføre søgningen. Nu går den i gang med at søge med det samme.

Pausen er der stadig når man skriver en søgetekst, det er meningen for ikke at bruge tid på at søge mens der stadig tastes hvilket gør det utroligt l

[2017-09-07 18:51] #122 closed, assigned to nobody